{% extends 'base.html.twig' %}

{% block body %}
    <style type="text/css">
    #table-observacions textarea{
        width: 629px;
        height:93px;
    }
    #mainbundle_casonuevo_motivoConsulta{
      width: 752px;
      height: 181px;
    }
    #mainbundle_casonuevo_propuestaAtencion{
      width: 834px;
      height: 115px;
    }
      #mainbundle_casonuevo_antecedentesEvaluativos_neurologicos,
      #mainbundle_casonuevo_antecedentesEvaluativos_psicologicos,
      #mainbundle_casonuevo_antecedentesEvaluativos_otros,
      #mainbundle_casonuevo_antecedentes_deSalud,
      #mainbundle_casonuevo_antecedentes_educativos
      {
        width: 827px;
        height: 105px;
      }
      .finales textarea{
          width: 820px;
          height: 100px;
      }
    h3{
        border-bottom:solid 1px #000;
        margin-bottom:15px;
        padding-left: 18px!important;
    }
    </style>
  <script type="text/javascript">
    $(function(){
      $('#mainbundle_casonuevo_fechaNacimiento_year').on('change', (arguments) => {
        var anno = $('#mainbundle_casonuevo_fechaNacimiento_year').val();
        var date = new Date();
        var anno_actual = date.getFullYear();
        var edad = parseInt(anno_actual) - parseInt(anno);
        $('#mainbundle_casonuevo_edad').val(edad)
      })

    })
  </script>
    {{ form_start(edit_form) }}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 well">
        <h1 style="border-bottom:solid 1px #000"><i class="glyphicon glyphicon-edit"></i>Alta nuevo caso</h1>
            <a href="{{ path('casonuevo_index') }}" class="btn btn-info" style="margin: 15px 0">
                <i class="glyphicon glyphicon-list"></i>
                Ir listado</a>
            <div class="row ">
                <div class="col-md-3">
                   <label>Nombre</label>
                   <div class="form-group">
                    {{ form_widget(edit_form.nombre) }}
                </div>
            </div>
            <div class="col-md-3">
               <label>Apellido Paterno</label>
               <div class="form-group">
                {{ form_widget(edit_form.apellidoPaterno) }}
            </div>
        </div>
        <div class="col-md-3">
           <label>Apellido Materno</label>
           <div class="form-group">
            {{ form_widget(edit_form.apellidoMaterno) }}
        </div>
    </div>
    <div class="col-md-3">
       <label>Fecha Nacimiento</label>
       <div class="form-group">
            {{ form_widget(edit_form.fechaNacimiento) }}
    </div>
</div>
</div>
<div class="row">

<div class="col-md-3">
   <label>Nombre Especialista remite</label>
   <div class="form-group">
    {{ form_widget(edit_form.nombreEspecialistaRemision) }}
</div>
</div>
<div class="col-md-3">
   <label>Tipo Especialista</label>
   <div class="form-group">
      {{ form_widget(edit_form.tipoEspecialistaRemision) }}
  </div>
</div>
<div class="col-md-3">
    <label>Procedencia</label>
    <div class="form-group">
      {{ form_widget(edit_form.procedencia) }}
  </div>
</div>
<div class="col-md-3">
     <label>Sexo</label>
    <div class="form-group">
      {{ form_widget(edit_form.sexo) }}
    </div>
</div>
</div>

<div class="row">
    <div class="col-md-3">
         <label>Nombre Mamá</label>
        <div class="form-group">
          {{ form_widget(edit_form.nombreMama) }}
        </div>
    </div>
    <div class="col-md-3">
        <label>Teléfono Mamá</label>
        <div class="form-group">
          {{ form_widget(edit_form.telefonoMama) }}
        </div>
    </div>
    <div class="col-md-3">
        <label>Email Mamá</label>
        <div class="form-group">
          {{ form_widget(edit_form.emailMama) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
         <label>Nombre Papá</label>
        <div class="form-group">
          {{ form_widget(edit_form.nombrePapa) }}
        </div>
    </div>
    <div class="col-md-3">
        <label>Teléfono Papá</label>
        <div class="form-group">
          {{ form_widget(edit_form.telefonoPapa) }}
        </div>
    </div>
    <div class="col-md-3">
        <label>Email Papá</label>
        <div class="form-group">
          {{ form_widget(edit_form.emailPapa) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
         <label>Motivo Consulta</label>
        <div class="form-group">
          {{ form_widget(edit_form.motivoConsulta) }}
        </div>
        <button type="submit" class="btn btn-success">
            <i class="glyphicon glyphicon-save"></i>
            Guardar y continuar
        </button>
    </div>
</div>
<div class="row">
    <h3 style="border-bottom:solid 1px #000"><i class="glyphicon glyphicon-edit"></i>Antecedentes </h3>
    <div class="col-md-12">
         <label>Neurológicos</label>
        <div class="form-group">
          {{ form_widget(edit_form.antecedentesEvaluativos.neurologicos) }}
        </div>
        <button type="submit" class="btn btn-success">
            <i class="glyphicon glyphicon-save"></i>
            Guardar y continuar
        </button>
    </div>
    <div class="col-md-12">
         <label>Psicológicos</label>
        <div class="form-group">
          {{ form_widget(edit_form.antecedentesEvaluativos.psicologicos) }}
        </div>
        <button type="submit" class="btn btn-success">
            <i class="glyphicon glyphicon-save"></i>
            Guardar y continuar
        </button>
    </div>
     <div class="col-md-12">
         <label>De salud</label>
        <div class="form-group">
          {{ form_widget(edit_form.antecedentes.deSalud) }}
        </div>
    </div>
    <div class="col-md-12">
         <label>Educativos</label>
        <div class="form-group">
          {{ form_widget(edit_form.antecedentes.educativos) }}
        </div>
        <button type="submit" class="btn btn-success">
            <i class="glyphicon glyphicon-save"></i>
            Guardar y continuar
        </button>
    </div>
    <div class="col-md-12">
         <label>Otros</label>
        <div class="form-group">
          {{ form_widget(edit_form.antecedentesEvaluativos.otros) }}
        </div>
        <button type="submit" class="btn btn-success">
            <i class="glyphicon glyphicon-save"></i>
            Guardar y continuar
        </button>
    </div>
</div>
<div class="row">
    <div class="col-md-12 observaciones-iniciales">
        <h3>Observaciones Iniciales de Desarrollo</h3>
    <table class="table" id="table-observacions">
        <tr>
            <td>Uso de Materiales</td>
            <td>{{ form_widget(edit_form.observacionesInicialesDesarrollo.usoMateriales)
            }}
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" class="btn btn-success">
                    <i class="glyphicon glyphicon-save"></i>
                    Guardar y continuar
                </button>
            </td>
        </tr>
        <tr>
            <td>Funciones de Comunicación</td>
            <td>{{ form_widget(edit_form.observacionesInicialesDesarrollo.funcionesComunicacion)
            }}
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" class="btn btn-success">
                    <i class="glyphicon glyphicon-save"></i>
                    Guardar y continuar
                </button>
            </td>
        </tr>
        <tr>
            <td>Lenguaje</td>
            <td>{{ form_widget(edit_form.observacionesInicialesDesarrollo.lenguaje)
            }}
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" class="btn btn-success">
                    <i class="glyphicon glyphicon-save"></i>
                    Guardar y continuar
                </button>
            </td>
        </tr>
        <tr>
            <td>Adecuación comportamental</td>
            <td>{{ form_widget(edit_form.observacionesInicialesDesarrollo.adecuacionComportamental)
            }}
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" class="btn btn-success">
                    <i class="glyphicon glyphicon-save"></i>
                    Guardar y continuar
                </button>
            </td>
        </tr>
        <tr>
            <td>Relación con la familia</td>
            <td>{{ form_widget(edit_form.observacionesInicialesDesarrollo.relacionFamilia)
            }}
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" class="btn btn-success">
                    <i class="glyphicon glyphicon-save"></i>
                    Guardar y continuar
                </button>
            </td>
        </tr>
        <tr>
            <td>Habilidades cognitivas</td>
            <td>{{ form_widget(edit_form.observacionesInicialesDesarrollo.habilidadesCognitivas)
            }}
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" class="btn btn-success">
                    <i class="glyphicon glyphicon-save"></i>
                    Guardar y continuar
                </button>
            </td>
        </tr>
        <tr>
            <td>Conductas de Autonomía</td>
            <td>{{ form_widget(edit_form.observacionesInicialesDesarrollo.conductaAutonomia)
            }}
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" class="btn btn-success">
                    <i class="glyphicon glyphicon-save"></i>
                    Guardar y continuar
                </button>
            </td>
        </tr>
        <tr>
            <td>Aspectos Motores</td>
            <td>{{ form_widget(edit_form.observacionesInicialesDesarrollo.aspectosMotores)
            }}
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" class="btn btn-success">
                    <i class="glyphicon glyphicon-save"></i>
                    Guardar y continuar
                </button>
            </td>
        </tr>
        <tr>
            <td>Otros</td>
            <td>{{ form_widget(edit_form.observacionesInicialesDesarrollo.otros)
            }}
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" class="btn btn-success">
                    <i class="glyphicon glyphicon-save"></i>
                    Guardar y continuar
                </button>
            </td>
        </tr>
    </table>
</div>

<div class="col-md-12">
  <h3 class="border-bottom">Propuesta de Atención</h3>
  {{ form_widget(edit_form.propuestaAtencion)}}
</div>
    <div class="col-sm-12 col-md-6">
        <h3 class="border-bottom">Protocolo de Evaluación Propuesto</h3>
        <table class="table">
            <tr>
                <td>Formato Atención Temprana</td>
                <td>{{ form_widget(edit_form.    protocoloEvaluacion.formatoAtencionTemprana)
                    }}
                </td>
            </tr>

            <tr>
                <td>Evaluación del Desarrollo</td>
                <td>{{ form_widget(edit_form.    protocoloEvaluacion.evaluacionDesarrollo)
                    }}
                </td>
            </tr>
            <tr>
                <td>Neuropsicológica</td>
                <td>{{ form_widget(edit_form.    protocoloEvaluacion.neuropsicologia)
                    }}
                </td>
            </tr>
            <tr>
                <td>Protocolo TEA</td>
                <td>{{ form_widget(edit_form.    protocoloEvaluacion.protocolaTea)
                    }}
                </td>
            </tr>
            <tr>
                <td>Observación Escolar</td>
                <td>{{ form_widget(edit_form.    protocoloEvaluacion.observacionEscolar)
                    }}
                </td>
            </tr>
            <tr>
                <td>Comunicación y Lenguaje</td>
                <td>{{ form_widget(edit_form.    protocoloEvaluacion.comunicacionLenguaje)
                    }}
                </td>
            </tr>
            <tr>
                <td>Inteligencia</td>
                <td>{{ form_widget(edit_form.    protocoloEvaluacion.inteligencia)
                    }}
                </td>
            </tr>
            <tr>
                <td>Habilidades Sociales</td>
                <td>{{ form_widget(edit_form.    protocoloEvaluacion.habilidadesSociales)
                    }}
                </td>
            </tr>
            <tr>
                <td>Protocolo TDA</td>
                <td>{{ form_widget(edit_form.    protocoloEvaluacion.protocoloTda)
                    }}
                </td>
            </tr>
            <tr>
                <td>Emocionales</td>
                <td>{{ form_widget(edit_form.    protocoloEvaluacion.emocionales)
                    }}
                </td>
            </tr>
            <tr>
                <td>Motricidad</td>
                <td>{{ form_widget(edit_form.    protocoloEvaluacion.motricidad)
                    }}
                </td>
            </tr>
            <tr>
                <td>Pedagogía y académicas</td>
                <td>{{ form_widget(edit_form.    protocoloEvaluacion.pedagogiaAcademica)
                    }}
                </td>
            </tr>
            <tr>
                <td>Autonomía</td>
                <td>{{ form_widget(edit_form.    protocoloEvaluacion.autonomia)
                    }}
                </td>
            </tr>
            <tr>
                <td>Protocolo Aprendizaje</td>
                <td>{{ form_widget(edit_form.    protocoloEvaluacion.protocoloAprendizaje)
                    }}
                </td>
            </tr>
            <tr>
                <td>Sensoriales</td>
                <td>{{ form_widget(edit_form.    protocoloEvaluacion.sensoriales)
                    }}
                </td>
            </tr>
        </table>

    </div>
    <div class="col-sm-12 col-md-6">
        <h3 class="border-bottom">Hipótesis diagnóstica</h3>
        <table class="table">
            <tr>
                <td>
                    Alteraciones Socio Comunicativas
                </td>
                <td>
                    {{ form_widget(edit_form.hipotesisDiagnostica.alteracionesSocioComunicativas) }}
                </td>
            </tr>
            <tr>
                <td>
                    Dificultades del aprendizaje académico
                </td>
                <td>
                    {{ form_widget(edit_form.hipotesisDiagnostica.difAprendAcademico) }}
                </td>
            </tr>
            <tr>
                <td>
                    Déficit atencional
                </td>
                <td>
                    {{ form_widget(edit_form.hipotesisDiagnostica.deficitAtencional) }}
                </td>
            </tr>
            <tr>
                <td>
                    Retardo global del desarrollo
                </td>
                <td>
                    {{ form_widget(edit_form.hipotesisDiagnostica.retardoGlobalDesarrollo) }}
                </td>
            </tr>
            <tr>
                <td>
                    Dificultades en el desarrollo del lenguaje
                </td>
                <td>
                    {{ form_widget(edit_form.hipotesisDiagnostica.difDesarrolloLenguaje) }}
                </td>
            </tr>
            <tr>
                <td>
                    Dificultades motoras
                </td>
                <td>
                    {{ form_widget(edit_form.hipotesisDiagnostica.difMotoras) }}
                </td>
            </tr>
            <tr>
                <td>
                    Alteraciones del comportamiento
                </td>
                <td>
                    {{ form_widget(edit_form.hipotesisDiagnostica.alteracionesComportamiento) }}
                </td>
            </tr>
            <tr>
                <td>
                    Necesidades de apoyo emocional
                </td>
                <td>
                    {{ form_widget(edit_form.hipotesisDiagnostica.necesidadApoyoEmocional) }}
                </td>
            </tr>
            <tr>
                <td>
                    Otra
                </td>
                <td>
                    {{ form_widget(edit_form.hipotesisDiagnostica.otra) }}
                </td>
            </tr>
        </table>
        <h3 class="border-bottom">Servicios de atención sugeridos</h3>
        <table class="table">
            <tr>
                <td>
                    Atención temprana
                </td>
                <td>
                    {{ form_widget(edit_form.servicioAtencionSugerido.atencionTemprana) }}
                </td>
            </tr>
            <tr>
                <td>
                    Intervención neuropsicológica
                </td>
                <td>
                    {{ form_widget(edit_form.servicioAtencionSugerido.intervNeuroPsicologica) }}
                </td>
            </tr>
            <tr>
                <td>
                    Desarrollo de habilidades sociales
                </td>
                <td>
                    {{ form_widget(edit_form.servicioAtencionSugerido.desarrolloHabilSociales) }}
                </td>
            </tr>
            <tr>
                <td>
                    Transición adolescencia y vida adulta
                </td>
                <td>
                    {{ form_widget(edit_form.servicioAtencionSugerido.transicionVidaAdulta) }}
                </td>
            </tr>
            <tr>
                <td>
                    Apoyo familiar
                </td>
                <td>
                    {{ form_widget(edit_form.servicioAtencionSugerido.apoyoFamiliar) }}
                </td>
            </tr>
            <tr>
                <td>
                    Otro
                </td>
                <td>
                    {{ form_widget(edit_form.servicioAtencionSugerido.otro) }}
                </td>
            </tr>
        </table>
        <h3 class="border-bottom">Escenarios de atención sugeridos</h3>
        <table class="table">
            <tr>
                <td>
                    Consulta terapéutica
                </td>
                <td>
                    {{ form_widget(edit_form.escenarioAtencionSugeridos.consultaTerap) }}

                </td>
            </tr>
            <tr>
                <td>
                    Sistema ambulatorio
                </td>
                <td>
                    {{ form_widget(edit_form.escenarioAtencionSugeridos.sistemaAmbulatorio) }}

                </td>
            </tr>
            <tr>
                <td>
                    Ambiente educativo
                </td>
                <td>
                    {{ form_widget(edit_form.escenarioAtencionSugeridos.ambienteEducativo) }}

                </td>
            </tr>
            <tr>
                <td>
                    Ambito social
                </td>
                <td>
                    {{ form_widget(edit_form.escenarioAtencionSugeridos.ambitoSocial) }}

                </td>
            </tr>
            <tr>
                <td>
                    Otro
                </td>
                <td>
                    {{ form_widget(edit_form.escenarioAtencionSugeridos.otro) }}

                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit" class="btn btn-success">
                        <i class="glyphicon glyphicon-save"></i>
                        Guardar y continuar
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="row finales">
    <div class="col-md-12">
        <label>Derivaciones Interconsultas</label>
        <div class="form-group">
          {{ form_widget(edit_form.derivacionesInterconsultas) }}
        </div>
        <button type="submit" class="btn btn-success">
            <i class="glyphicon glyphicon-save"></i>
            Guardar y continuar
        </button>
    </div>
    <div class="col-md-12">
         <label>Especificaciones Evaluativas</label>
        <div class="form-group">
          {{ form_widget(edit_form.especificacionesEvaluativas) }}
        </div>
        <button type="submit" class="btn btn-success">
            <i class="glyphicon glyphicon-save"></i>
            Guardar y continuar
        </button>
    </div>
</div>
<div class="row finales">
    <div class="col-md-12">
        <label>Comentarios Finales</label>
        <div class="form-group">
          {{ form_widget(edit_form.comentariosFinales) }}
        </div>
    </div>
    <div class="col-md-6">
         <label>Especialista</label>
        <div class="form-group">
          {{ form_widget(edit_form.especialista) }}
        </div>
    </div>
    <div class="col-md-6">
      <label>Fecha Registro Caso</label>

        <div class="form-group">
          {{ form_widget(edit_form.fechaRegistroCaso) }}
        </div>
    </div>
</div>
   <div class="btn-group">
       <button type="submit" class="btn btn-success">
           <i class="glyphicon glyphicon-save"></i>
           Guardar
       </button>
       <a href="{{ path('casonuevo_index') }}" class="btn btn-info">
           <i class="glyphicon glyphicon-list"></i>
           Ir listado</a>
   </div>

{{ form_end(edit_form) }}

{{ form_start(delete_form) }}
    <input type="submit" class="pull-right btn btn-danger" value="Borrar"/>
{{ form_end(delete_form) }}
</div>

<div class="col-md-2"></div>
</div>



{% endblock %}
