{% extends 'base.html.twig' %}

{% block body %}
    <script>
        $(function () {
            $('.btn-variables').on('click', function () {
                $('.filtros-container').toggleClass('hide');
            })
        });
    </script>
    <style media="screen">

        .filtros-container label {
            margin-right: 10px;
        }

        .filtros-container button {
            margin-top: 15px;
        }

        .btn-variables {
            margin-bottom: 15px;
        }
    </style>
    <h1>Casos registrados <b>{{ total }}</b></h1>
    <div class="btn btn-info pull-left btn-variables">Filtrar variables</div>
    <ul>
        <li>
            <a class="btn btn-success pull-right" href="{{ path('casonuevo_new') }}">Generar Caso Nuevo</a>
        </li>
    </ul>
    <div class="clearfix"></div>
    <div class="well hide filtros-container">
        <form class="form-inline" action="{{ path('casonuevo_buscar') }}" method="post">
            <div class="row">
                <div class="col-sm-3">
                    {{ form_row(form.nombre) }}
                </div>
                <div class="col-sm-3">
                    {{ form_row(form.procedencia) }}
                </div>
                <div class="col-sm-3">
                    {{ form_row(form.edad) }}
                </div>
                <div class="col-sm-3">
                    {{ form_row(form.sexo) }}
                </div>
            </div>
            <div class="row" style="margin-top:15px">
                <div class="col-sm-3">
                    {{ form_row(form.especialista) }}
                </div>
                <div class="col-sm-3">
                    {{ form_row(form.tipoEspecialistaRemision) }}
                </div>
                <div class="col-sm-3">
                    {{ form_row(form.protocoloEvaluacion) }}
                </div>
                <div class="col-sm-3">
                    {{ form_row(form.mesRegistro) }}
                </div>
                <div class="col-sm-3">
                    <label for="annoRegistro">Año de Registro</label>
                    {{ form_widget(form.annoRegistro) }}
                </div>
            </div>
            <div class="row" style="margin-top:15px">
                <div class="col-sm-3">
                    <label for="annoRegistro">Hipótesis Diagnóstica</label>
                    {{ form_widget(form.hipotesisDiagnostica) }}
                </div>
                <div class="col-sm-3">
                    <label for="annoRegistro">Escenario Atención Sugeridos</label>
                    {{ form_widget(form.escenarioAtencionSugeridos) }}
                </div>
                <div class="col-sm-3">
                    <label for="annoRegistro">Servicio Atención Sugerido</label>
                    {{ form_widget(form.servicioAtencionSugerido) }}
                </div>
            </div>
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-warning" name="button">buscar</button>
        </form>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>Edad</th>
            <th>Fecha Registro</th>
            <th>Procedencia</th>
            <th>Especialista</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for casoNuevo in pagination %}
            <tr>
                <td>{{ casoNuevo.nombre }}</td>
                <td>{{ casoNuevo.apellidoPaterno }}</td>
                <td>{{ casoNuevo.apellidoMaterno }}</td>
                <td>{{ casoNuevo.edad }}</td>
                <td>{% if casoNuevo.fechaRegistroCaso %}{{ casoNuevo.fechaRegistroCaso|date('Y-m-d') }}{% endif %}</td>

                <td>{{ casoNuevo.procedencia }}</td>

                <td>{{ casoNuevo.especialista }}</td>
                <td>
                    <ul>
                        <li>
                            <a style="float: left; margin-right:5px;"
                               class="btn btn-info btn-xs" href="{{ path('casonuevo_show', { 'id': casoNuevo.id }) }}">mostrar</a>
                        </li>
                        <li>
                            <a style="float: left; margin-right:5px;"
                               class="btn btn-warning btn-xs"
                               href="{{ path('casonuevo_edit', { 'id': casoNuevo.id }) }}">editar</a>
                        </li>
                        <li>
                            <a style="float: left; margin-right:5px;"
                               class="btn btn-danger btn-xs" href="{{ path('casonuevo_pdf', { 'id': casoNuevo.id }) }}">PDF</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
