{% extends 'base.html.twig' %}

  {% block body %}
      <style type="text/css">
          #table-observacions textarea {
              width: 629px;
              height: 93px;
          }

          #mainbundle_casonuevo_motivoConsulta {
              width: 752px;
              height: 181px;
          }

          #mainbundle_casonuevo_propuestaAtencion {
              width: 834px;
              height: 115px;
          }

          #mainbundle_casonuevo_antecedentesEvaluativos_neurologicos,
          #mainbundle_casonuevo_antecedentesEvaluativos_psicologicos,
          #mainbundle_casonuevo_antecedentesEvaluativos_otros,
          #mainbundle_casonuevo_antecedentes_deSalud,
          #mainbundle_casonuevo_antecedentes_educativos {
              width: 827px;
              height: 105px;
          }

          .finales textarea {
              width: 820px;
              height: 100px;
          }

          h3 {
              border-bottom: solid 1px #000;
              margin-bottom: 15px;
              padding-left: 18px !important;
          }
      </style>
      <script type="text/javascript">
          $(function () {
//        $('#mainbundle_casonuevo_fechaNacimiento_year').on('change', (arguments) => {
//          var anno = $('#mainbundle_casonuevo_fechaNacimiento_year').val();
//          var date = new Date();
//          var anno_actual = date.getFullYear();
//          var edad = parseInt(anno_actual) - parseInt(anno);
//          $('#mainbundle_casonuevo_edad').val(edad)
//        })
          })
      </script>
      {{ form_start(form) }}
      <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8 well">
              <h1 style="border-bottom:solid 1px #000"><i class="glyphicon glyphicon-edit"></i>Alta nuevo caso</h1>
              <div class="row ">
                  <div class="col-md-3">
                      <label>Nombre</label>
                      <div class="form-group">
                          {{ form_widget(form.nombre) }}
                      </div>
                  </div>
                  <div class="col-md-3">
                      <label>Apellido Paterno</label>
                      <div class="form-group">
                          {{ form_widget(form.apellidoPaterno) }}
                      </div>
                  </div>
                  <div class="col-md-3">
                      <label>Apellido Materno</label>
                      <div class="form-group">
                          {{ form_widget(form.apellidoMaterno) }}
                      </div>
                  </div>
                  <div class="col-md-3">
                      <label>Fecha Nacimiento</label>
                      <div class="form-group">
                          {{ form_widget(form.fechaNacimiento) }}
                      </div>
                  </div>
              </div>
              <div class="row">

                  <div class="col-md-3">
                      <label>Nombre Especialista remite</label>
                      <div class="form-group">
                          {{ form_widget(form.nombreEspecialistaRemision) }}
                      </div>
                  </div>
                  <div class="col-md-3">
                      <label>Tipo Especialista</label>
                      <div class="form-group">
                          {{ form_widget(form.tipoEspecialistaRemision) }}
                      </div>
                  </div>
                  <div class="col-md-3">
                      <label>Procedencia</label>
                      <div class="form-group">
                          {{ form_widget(form.procedencia) }}
                      </div>
                  </div>
                  <div class="col-md-3">
                      <label>Sexo</label>
                      <div class="form-group">
                          {{ form_widget(form.sexo) }}
                      </div>
                  </div>
              </div>

              <div class="row">
                  <div class="col-md-3">
                      <label>Nombre Mamá</label>
                      <div class="form-group">
                          {{ form_widget(form.nombreMama) }}
                      </div>
                  </div>
                  <div class="col-md-3">
                      <label>Teléfono Mamá</label>
                      <div class="form-group">
                          {{ form_widget(form.telefonoMama) }}
                      </div>
                  </div>
                  <div class="col-md-3">
                      <label>Email Mamá</label>
                      <div class="form-group">
                          {{ form_widget(form.emailMama) }}
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-3">
                      <label>Nombre Papá</label>
                      <div class="form-group">
                          {{ form_widget(form.nombrePapa) }}
                      </div>
                  </div>
                  <div class="col-md-3">
                      <label>Teléfono Papá</label>
                      <div class="form-group">
                          {{ form_widget(form.telefonoPapa) }}
                      </div>
                  </div>
                  <div class="col-md-3">
                      <label>Email Papá</label>
                      <div class="form-group">
                          {{ form_widget(form.emailPapa) }}
                      </div>
                  </div>
                  <div class="col-md-6">
                      <label>Especialista</label>
                      <div class="form-group">
                          {{ form_widget(form.especialista) }}
                          <p style="font-size: 10px;color:red;margin-top: 5px">Campo obligatorio</p>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-12">
                      <label>Motivo Consulta</label>
                      <div class="form-group">
                          {{ form_widget(form.motivoConsulta) }}
                      </div>
                  </div>
                  <button type="submit" class="btn btn-success">
                      <i class="glyphicon glyphicon-save"></i>
                      Guardar y continuar
                  </button>
              </div>
              <div class="row">
                  <h3 style="border-bottom:solid 1px #000"><i class="glyphicon glyphicon-edit"></i>Antecedentes </h3>
                  <div class="col-md-12">
                      <label>Neurológicos</label>
                      <div class="form-group">
                          {{ form_widget(form.antecedentesEvaluativos.neurologicos) }}
                      </div>
                      <button type="submit" class="btn btn-success">
                          <i class="glyphicon glyphicon-save"></i>
                          Guardar y continuar
                      </button>
                  </div>
                  <div class="col-md-12">
                      <label>Psicológicos</label>
                      <div class="form-group">
                          {{ form_widget(form.antecedentesEvaluativos.psicologicos) }}
                      </div>
                      <button type="submit" class="btn btn-success">
                          <i class="glyphicon glyphicon-save"></i>
                          Guardar y continuar
                      </button>
                  </div>
                  <div class="col-md-12">
                      <label>De salud</label>
                      <div class="form-group">
                          {{ form_widget(form.antecedentes.deSalud) }}
                      </div>
                      <button type="submit" class="btn btn-success">
                          <i class="glyphicon glyphicon-save"></i>
                          Guardar y continuar
                      </button>
                  </div>
                  <div class="col-md-12">
                      <label>Educativos</label>
                      <div class="form-group">
                          {{ form_widget(form.antecedentes.educativos) }}
                      </div>
                      <button type="submit" class="btn btn-success">
                          <i class="glyphicon glyphicon-save"></i>
                          Guardar y continuar
                      </button>
                  </div>
                  <div class="col-md-12">
                      <label>Otros</label>
                      <div class="form-group">
                          {{ form_widget(form.antecedentesEvaluativos.otros) }}
                      </div>
                      <button type="submit" class="btn btn-success">
                          <i class="glyphicon glyphicon-save"></i>
                          Guardar y continuar
                      </button>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-12 observaciones-iniciales">
                      <h3>Observaciones Iniciales de Desarrollo</h3>
                      <table class="table" id="table-observacions">
                          <tr>
                              <td>Uso de Materiales</td>
                              <td>{{ form_widget(form.observacionesInicialesDesarrollo.usoMateriales) }}
                              </td>
                          </tr>
                          <tr>
                              <td>Funciones de Comunicación</td>
                              <td>{{ form_widget(form.observacionesInicialesDesarrollo.funcionesComunicacion) }}
                                  <button type="submit" class="btn btn-success">
                                      <i class="glyphicon glyphicon-save"></i>
                                      Guardar y continuar
                                  </button>
                              </td>

                          </tr>
                          <tr>
                              <td>Lenguaje</td>
                              <td>{{ form_widget(form.observacionesInicialesDesarrollo.lenguaje) }}
                              </td>
                          </tr>
                          <tr>
                              <td>Adecuación comportamental</td>
                              <td>{{ form_widget(form.observacionesInicialesDesarrollo.adecuacionComportamental) }}
                                  <button type="submit" class="btn btn-success">
                                      <i class="glyphicon glyphicon-save"></i>
                                      Guardar y continuar
                                  </button>
                              </td>
                          </tr>
                          <tr>
                              <td>Relación con la familia</td>
                              <td>{{ form_widget(form.observacionesInicialesDesarrollo.relacionFamilia) }}
                              </td>
                          </tr>
                          <tr>
                              <td>Habilidades cognitivas</td>
                              <td>{{ form_widget(form.observacionesInicialesDesarrollo.habilidadesCognitivas) }}
                                  <button type="submit" class="btn btn-success">
                                      <i class="glyphicon glyphicon-save"></i>
                                      Guardar y continuar
                                  </button>
                              </td>
                          </tr>
                          <tr>
                              <td>Conductas de Autonomía</td>
                              <td>{{ form_widget(form.observacionesInicialesDesarrollo.conductaAutonomia) }}
                                  <button type="submit" class="btn btn-success">
                                      <i class="glyphicon glyphicon-save"></i>
                                      Guardar y continuar
                                  </button>
                              </td>
                          </tr>
                          <tr>
                              <td>Aspectos Motores</td>
                              <td>{{ form_widget(form.observacionesInicialesDesarrollo.aspectosMotores) }}
                              </td>
                          </tr>
                          <tr>
                              <td>Otros</td>
                              <td>{{ form_widget(form.observacionesInicialesDesarrollo.otros) }}
                                  <button type="submit" class="btn btn-success">
                                      <i class="glyphicon glyphicon-save"></i>
                                      Guardar y continuar
                                  </button>
                              </td>
                          </tr>
                      </table>
                  </div>

                  <div class="col-sm-12">
                      <h3 class="border-bottom">Propuesta de Atención</h3>
                      {{ form_widget(form.propuestaAtencion) }}
                  </div>
                  <div class="col-sm-12 col-md-6">

                      <h3 class="border-bottom">Protocolo de Evaluación Propuesto</h3>
                      <table class="table">
                          <tr>
                              <td>Formato Atención Temprana</td>
                              <td>{{ form_widget(form.protocoloEvaluacion.formatoAtencionTemprana) }}
                              </td>
                          </tr>
                          <tr>
                              <td>Evaluación del Desarrollo</td>
                              <td>{{ form_widget(form.protocoloEvaluacion.evaluacionDesarrollo) }}
                              </td>
                          </tr>
                          <tr>
                              <td>Neuropsicológica</td>
                              <td>{{ form_widget(form.protocoloEvaluacion.neuropsicologia) }}
                              </td>
                          </tr>
                          <tr>
                              <td>Protocolo TEA</td>
                              <td>{{ form_widget(form.protocoloEvaluacion.protocolaTea) }}
                              </td>
                          </tr>
                          <tr>
                              <td>Observación Escolar</td>
                              <td>{{ form_widget(form.protocoloEvaluacion.observacionEscolar) }}
                              </td>
                          </tr>
                          <tr>
                              <td>Comunicación y Lenguaje</td>
                              <td>{{ form_widget(form.protocoloEvaluacion.comunicacionLenguaje) }}
                              </td>
                          </tr>
                          <tr>
                              <td>Inteligencia</td>
                              <td>{{ form_widget(form.protocoloEvaluacion.inteligencia) }}
                              </td>
                          </tr>
                          <tr>
                              <td>Habilidades Sociales</td>
                              <td>{{ form_widget(form.protocoloEvaluacion.habilidadesSociales) }}
                              </td>
                          </tr>
                          <tr>
                              <td>Protocolo TDA</td>
                              <td>{{ form_widget(form.protocoloEvaluacion.protocoloTda) }}
                              </td>
                          </tr>
                          <tr>
                              <td>Emocionales</td>
                              <td>{{ form_widget(form.protocoloEvaluacion.emocionales) }}
                              </td>
                          </tr>
                          <tr>
                              <td>Motricidad</td>
                              <td>{{ form_widget(form.protocoloEvaluacion.motricidad) }}
                              </td>
                          </tr>
                          <tr>
                              <td>Pedagogía y académicas</td>
                              <td>{{ form_widget(form.protocoloEvaluacion.pedagogiaAcademica) }}
                              </td>
                          </tr>
                          <tr>
                              <td>Autonomía</td>
                              <td>{{ form_widget(form.protocoloEvaluacion.autonomia) }}
                              </td>
                          </tr>
                          <tr>
                              <td>Protocolo Aprendizaje</td>
                              <td>{{ form_widget(form.protocoloEvaluacion.protocoloAprendizaje) }}
                              </td>
                          </tr>
                          <tr>
                              <td>Sensoriales</td>
                              <td>{{ form_widget(form.protocoloEvaluacion.sensoriales) }}
                              </td>
                          </tr>
                      </table>
                  </div>
                  <div class="col-sm-12 col-md-6">
                      <h3 class="border-bottom">Hipótesis diagnóstica</h3>
                      <table class="table">
                          <tr>
                              <td>
                                  Alteraciones Socio Comunicativas
                              </td>
                              <td>
                                  {{ form_widget(form.hipotesisDiagnostica.alteracionesSocioComunicativas) }}
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  Dificultades del aprendizaje académico
                              </td>
                              <td>
                                  {{ form_widget(form.hipotesisDiagnostica.difAprendAcademico) }}
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  Déficit atencional
                              </td>
                              <td>
                                  {{ form_widget(form.hipotesisDiagnostica.deficitAtencional) }}
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  Retardo global del desarrollo
                              </td>
                              <td>
                                  {{ form_widget(form.hipotesisDiagnostica.retardoGlobalDesarrollo) }}
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  Dificultades en el desarrollo del lenguaje
                              </td>
                              <td>
                                  {{ form_widget(form.hipotesisDiagnostica.difDesarrolloLenguaje) }}
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  Dificultades motoras
                              </td>
                              <td>
                                  {{ form_widget(form.hipotesisDiagnostica.difMotoras) }}
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  Alteraciones del comportamiento
                              </td>
                              <td>
                                  {{ form_widget(form.hipotesisDiagnostica.alteracionesComportamiento) }}
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  Necesidades de apoyo emocional
                              </td>
                              <td>
                                  {{ form_widget(form.hipotesisDiagnostica.necesidadApoyoEmocional) }}
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  Otra
                              </td>
                              <td>
                                  {{ form_widget(form.hipotesisDiagnostica.otra) }}
                              </td>
                          </tr>
                      </table>
                      <h3 class="border-bottom">Servicios de atención sugeridos</h3>
                      <table class="table">
                          <tr>
                              <td>
                                  Atención temprana
                              </td>
                              <td>
                                  {{ form_widget(form.servicioAtencionSugerido.atencionTemprana) }}
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  Intervención neuropsicológica
                              </td>
                              <td>
                                  {{ form_widget(form.servicioAtencionSugerido.intervNeuroPsicologica) }}
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  Desarrollo de habilidades sociales
                              </td>
                              <td>
                                  {{ form_widget(form.servicioAtencionSugerido.desarrolloHabilSociales) }}
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  Transición adolescencia y vida adulta
                              </td>
                              <td>
                                  {{ form_widget(form.servicioAtencionSugerido.transicionVidaAdulta) }}
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  Apoyo familiar
                              </td>
                              <td>
                                  {{ form_widget(form.servicioAtencionSugerido.apoyoFamiliar) }}
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  Otro
                              </td>
                              <td>
                                  {{ form_widget(form.servicioAtencionSugerido.otro) }}
                              </td>
                          </tr>
                      </table>
                      <h3 class="border-bottom">Escenarios de atención sugeridos</h3>
                      <table class="table">
                          <tr>
                              <td>
                                  Consulta terapéutica
                              </td>
                              <td>
                                  {{ form_widget(form.escenarioAtencionSugeridos.consultaTerap) }}

                              </td>
                          </tr>
                          <tr>
                              <td>
                                  Sistema ambulatorio
                              </td>
                              <td>
                                  {{ form_widget(form.escenarioAtencionSugeridos.sistemaAmbulatorio) }}

                              </td>
                          </tr>
                          <tr>
                              <td>
                                  Ambiente educativo
                              </td>
                              <td>
                                  {{ form_widget(form.escenarioAtencionSugeridos.ambienteEducativo) }}

                              </td>
                          </tr>
                          <tr>
                              <td>
                                  Ambito social
                              </td>
                              <td>
                                  {{ form_widget(form.escenarioAtencionSugeridos.ambitoSocial) }}

                              </td>
                          </tr>
                          <tr>
                              <td>
                                  Otro
                              </td>
                              <td>
                                  {{ form_widget(form.escenarioAtencionSugeridos.otro) }}

                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <button type="submit" class="btn btn-success">
                                      <i class="glyphicon glyphicon-save"></i>
                                      Guardar y continuar
                                  </button>
                              </td>
                          </tr>
                      </table>
                  </div>
              </div>

              <div class="row finales">
                  <div class="col-md-12">
                      <label>Derivaciones Interconsultas</label>
                      <div class="form-group">
                          {{ form_widget(form.derivacionesInterconsultas) }}
                      </div>
                  </div>
                  <div class="col-md-12">
                      <label>Especificaciones Evaluativas</label>
                      <div class="form-group">
                          {{ form_widget(form.especificacionesEvaluativas) }}
                      </div>
                      <button type="submit" class="btn btn-success">
                          <i class="glyphicon glyphicon-save"></i>
                          Guardar y continuar
                      </button>
                  </div>
              </div>
              <div class="row finales">
                  <div class="col-md-12">
                      <label>Comentarios Finales</label>
                      <div class="form-group">
                          {{ form_widget(form.comentariosFinales) }}
                      </div>
                  </div>

                  <div class="col-md-6">
                      <label>Fecha Registro Caso</label>
                      <div class="form-group">
                          {{ form_widget(form.fechaRegistroCaso) }}
                      </div>
                      <button type="submit" class="btn btn-success">
                          <i class="glyphicon glyphicon-save"></i>
                          Guardar y continuar
                      </button>
                  </div>
              </div>
              <div class="text-center" style="font-size:10px;font-weight:bolder">
                  La consulta de valoración NO es una Consulta de Diagnóstico, sino un documento para esclarecer el
                  motivo de consulta por el cual asiste el niño a nuestros servicios y las propuestas de atención a
                  poner en práctica para dar respuesta a la solicitud realizada por los padres o el colegio.
              </div>
          </div>

          <div class="col-md-2"></div>
      </div>

      {{ form_end(form) }}

  {% endblock %}
