{% extends 'base.html.twig' %}

{% block body %}
    <h3>Casos nuevos encontrados : {{cantidadResultados}}</h3>
        <a href="{{ httpDirPDf }}" class="btn btn-danger btn-xs">Descargar PDF</a>
        <a href="{{ httpDirExcl }}" class="btn btn-success btn-xs">Descargar Excel</a>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Edad</th>
                <th>Fecha Registro</th>
                <th>Procedencia</th>
                <th>Especialista</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for casoNuevo in casoNuevos %}
            <tr>
                <td>{{ casoNuevo.nombre }}</td>
                <td>{{ casoNuevo.apellidoPaterno }}</td>
                <td>{{ casoNuevo.apellidoMaterno }}</td>
                <td>{{ casoNuevo.edad }}</td>
                <td>{% if casoNuevo.fechaRegistroCaso %}{{ casoNuevo.fechaRegistroCaso|date('Y-m-d') }}{% endif %}</td>

                <td>{{ casoNuevo.procedencia }}</td>

                <td>{{ casoNuevo.especialista }}</td>
                <td>
                    <ul>
                        <li>
                            <a class="btn btn-info btn-xs" href="{{ path('casonuevo_show', { 'id': casoNuevo.id }) }}">mostrar</a>
                        </li>
                        <li>
                            <a class="btn btn-warning btn-xs"  href="{{ path('casonuevo_edit', { 'id': casoNuevo.id }) }}">editar</a>
                        </li>
                        <li>
                            <a class="btn btn-danger btn-xs"  href="{{ path('casonuevo_pdf', { 'id': casoNuevo.id }) }}">PDF</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul>
        <li>
            <a class="btn btn-success" href="{{ path('casonuevo_index') }}">Regresar al listado</a>
        </li>
    </ul>
{% endblock %}
