{% extends 'base.html.twig' %}

{% block body %}
    <h1>Expediente de {{ casoNuevo.nombre }} {{ casoNuevo.apellidoPaterno }} </h1>

    <table class="table table-bordered">
        <tbody>           
            <tr>
                <th>Nombre</th>
                <td>{{ casoNuevo.nombre }}</td>
            </tr>
            <tr>
                <th>Apellidopaterno</th>
                <td>{{ casoNuevo.apellidoPaterno }}</td>
            </tr>
            <tr>
                <th>Apellidomaterno</th>
                <td>{{ casoNuevo.apellidoMaterno }}</td>
            </tr>
            <tr>
                <th>Edad</th>
                <td>{{ casoNuevo.edad }}</td>
            </tr>
            <tr>
                <th>Fechanacimiento</th>
                <td>{% if casoNuevo.fechaNacimiento %}{{ casoNuevo.fechaNacimiento|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Nombreespecialistaremision</th>
                <td>{{ casoNuevo.nombreEspecialistaRemision }}</td>
            </tr>
            <tr>
                <th>Tipoespecialistaremision</th>
                <td>{{ casoNuevo.tipoEspecialistaRemision }}</td>
            </tr>
            <tr>
                <th>Procedencia</th>
                <td>{{ casoNuevo.procedencia }}</td>
            </tr>
            <tr>
                <th>Sexo</th>
                <td>{{ casoNuevo.sexo }}</td>
            </tr>
            <tr>
                <th>Motivoconsulta</th>
                <td>{{ casoNuevo.motivoConsulta }}</td>
            </tr>
            <tr>
                <th>Derivacionesinterconsultas</th>
                <td>{{ casoNuevo.derivacionesInterconsultas }}</td>
            </tr>
            <tr>
                <th>Especificacionesevaluativas</th>
                <td>{{ casoNuevo.especificacionesEvaluativas }}</td>
            </tr>
            <tr>
                <th>Comentariosfinales</th>
                <td>{{ casoNuevo.comentariosFinales }}</td>
            </tr>
            <tr>
                <th>Especialista</th>
                <td>{{ casoNuevo.especialista }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('casonuevo_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('casonuevo_edit', { 'id': casoNuevo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
