{% extends 'base.html.twig' %}

{% block body %}
    <h1>Escenarioantecionsugeridos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Consultaterap</th>
                <th>Sistemaambulatorio</th>
                <th>Ambienteeducativo</th>
                <th>Ambitosocial</th>
                <th>Otro</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for escenarioAntecionSugerido in escenarioAntecionSugeridos %}
            <tr>
                <td><a href="{{ path('escenarioantecionsugeridos_show', { 'id': escenarioAntecionSugerido.id }) }}">{{ escenarioAntecionSugerido.id }}</a></td>
                <td>{% if escenarioAntecionSugerido.consultaTerap %}Yes{% else %}No{% endif %}</td>
                <td>{% if escenarioAntecionSugerido.sistemaAmbulatorio %}Yes{% else %}No{% endif %}</td>
                <td>{% if escenarioAntecionSugerido.ambienteEducativo %}Yes{% else %}No{% endif %}</td>
                <td>{% if escenarioAntecionSugerido.ambitoSocial %}Yes{% else %}No{% endif %}</td>
                <td>{% if escenarioAntecionSugerido.otro %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('escenarioantecionsugeridos_show', { 'id': escenarioAntecionSugerido.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('escenarioantecionsugeridos_edit', { 'id': escenarioAntecionSugerido.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('escenarioantecionsugeridos_new') }}">Create a new escenarioAntecionSugerido</a>
        </li>
    </ul>
{% endblock %}
