{% extends 'base.html.twig' %}

{% block body %}
    <h1>Escenarioantecionsugerido</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ escenarioAntecionSugerido.id }}</td>
            </tr>
            <tr>
                <th>Consultaterap</th>
                <td>{% if escenarioAntecionSugerido.consultaTerap %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Sistemaambulatorio</th>
                <td>{% if escenarioAntecionSugerido.sistemaAmbulatorio %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Ambienteeducativo</th>
                <td>{% if escenarioAntecionSugerido.ambienteEducativo %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Ambitosocial</th>
                <td>{% if escenarioAntecionSugerido.ambitoSocial %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Otro</th>
                <td>{% if escenarioAntecionSugerido.otro %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('escenarioantecionsugeridos_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('escenarioantecionsugeridos_edit', { 'id': escenarioAntecionSugerido.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
