<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}SiGRed!{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/css/bootstrap/bootstrap.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/css/custom_bootstrap.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/css/style.css')}}" />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="{{ asset('bundles/js/bootstrap/bootstrap.js')}}"></script>
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=vkp3aj40gwn4pkf2k9x7a4clbgod9i87eop8o7ajohf59z75"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    {% block stylesheets %}{% endblock %}

    </head>
    <body>
          {% if app.user %}
        <nav class="navbar navbar-default navbar-inverse">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">SiGRed</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="{{ path('historiaclinica_index')}}">Historia Cl&iacutenica</a></li>
            {#<li> <a href="{{ path('paciente_index') }}">ListadoPacientes</a></li>#}
            <li> <a href="{{ path('casonuevo_index') }}">Caso Nuevo</a></li>
            {% if is_granted('ROLE_ADMIN') %}
              {#<li><a href="#">Reportes</a></li>#}
              <!-- <li><a href="#">Seguimiento</a></li> -->
              {#<li><a href="#">Exportar e Importar BD</a></li>#}
              <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                  Config Interna <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li> <a href="{{path('admin_usuario')}}">Listado Usuarios</a></li>
                  <li> <a href="{{path('admin_grupo')}}">Listado Grupos</a></li>
                  <li> <a href="{{path('admin_role')}}">Listado Roles</a></li>
                </ul>
              </li>
            {% endif %}
            <li>
                <a href="{{ path('fos_user_security_logout') }}">
                    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>Salir</a>
                </li>

            </ul>


        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
{% endif %}

<div class="container-fluid">
    {% block body %}{% endblock %}

    </div>
    {% block javascripts %}{% endblock %}
          <script>
              tinymce.init({ selector:'textarea' ,  height : 450});
          </script>
    </body>
    </html>
