{% extends '::base.html.twig' %}

{% block body -%}
<legend>
    <h1>Listado de Grupo </h1>
</legend>
    

    <table class="table table-responsive table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_grupo_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.descripcion }}</td>
                <td>
                <ul>
                <li class="pull-right">
                        <a class="btn btn-warning btn-xs mr5" href="{{ path('admin_grupo_show', { 'id': entity.id }) }}">show</a>
                    </li>
                <li class="pull-right">
                        <a class="btn btn-warning btn-xs mr5" href="{{ path('admin_grupo_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a class="btn btn-success"href="{{ path('admin_grupo_new') }}">
                <span class="glyphicon glyphicon-plus"></span>Nuevo
            </a>
        </li>
    </ul>
    {% endblock %}
