{% extends '::base.html.twig' %}

{% block body -%}
<legend>
        <h1>Nuevo Grupo</h1>

</legend>

    {{ form(form) }}

        <div class="btn-group">
    <a class="btn btn-warning" href="{{ path('admin_grupo') }}">
        <span class="glyphicon glyphicon-list"></span>Listado
    </a>

    
{% endblock %}
