{% extends 'base.html.twig' %}

{% block body %}
    <style type="text/css">

        .txtarea_tablas {
            width: 290px;
            height: 220px !important;
        }

        input[type="number"] {
            width: 80px;
        }

        .shadow {
            text-shadow: 2px 3px 5px #054b27;
        }

        .nav-pills li a {
            font-weight: bold;
        }

        .bold {
            font-weight: bolder;
        }
        #instrucciones-btn{
            color: #008a36!important;
        }
    </style>

    <div class="row">
        <h3 class="text-center border shadow"><i class="glyphicon glyphicon-edit"></i>
            Historia de Desarrollo e Información Básica de Antecedentes
        </h3>
        <div class="col-md-3">
            <!-- Nav tabs -->
            <img src="{{ asset('bundles/images/logo-red-png.png')}}" width="170px" style="margin-bottom:25px"/>
            <ul class="nav nav-pills nav-stacked" role="tablist">
                <li role="presentation" >
                    <a href="#intructivo" id="instrucciones-btn" aria-controls="instructivo" role="tab" data-toggle="tab">
                        Instrucciones</a>
                </li>
                <li role="presentation" class="active">
                    <a href="#historiac" aria-controls="home" role="tab" data-toggle="tab">
                        Datos Generales</a>
                </li>
                <li role="presentation">
                    <a href="#motivo_consulta" aria-controls="profile" role="tab" data-toggle="tab">
                        Antecedentes de Atención</a>
                </li>
                <li role="presentation">
                    <a href="#embarazo" aria-controls="messages" role="tab" data-toggle="tab">
                        Embarazo y Parto</a>
                </li>
                <li role="presentation">
                    <a href="#características" aria-controls="settings" role="tab" data-toggle="tab">

                        Caracteristicas de Desarrollo</a>
                </li>
                <li role="presentation">
                    <a href="#estado_salud" aria-controls="settings" role="tab" data-toggle="tab">

                        Estado de Salud</a>
                </li>
                <li role="presentation">
                    <a href="#antecedentes" aria-controls="settings" role="tab" data-toggle="tab">

                        Antecedentes Familiares</a>
                </li>
                <li role="presentation">
                    <a href="#habitos" aria-controls="settings" role="tab" data-toggle="tab">

                        Hábitos de Autonomía</a>
                </li>
                <li role="presentation">
                    <a href="#instituciones" aria-controls="settings" role="tab" data-toggle="tab">Antecedentes
                        Educativos</a>
                </li>
            </ul>
        </div>
        <div class="col-md-9 contenedor-formulario">
            <!-- Tab panes -->
            <!--<img src="{{ asset('bundles/images/logo-red-png.png')}}"/>-->
            {{ form_start(edit_form) }}
            {{ form_errors(edit_form) }}
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane" id="intructivo">
                    <div>
                        <h4 class="text-center" style="background-color:#5cb85c;padding:7px;color:#fff"><b>HISTORIA DE DESARROLLO Y ANTECEDENTES</b></h4>
                        <div id="contenedor-inicio">
                            <p style="font-size:18px;margin-top:20px" class="text-justify">         
                                A continuación encontrará un documento que servirá para recopilar la Historia de Desarrollo y Antecedentes de su hijo(a), cuya información es necesaria para poder llevar a cabo un adecuado proceso de evaluación y de propuestas de tratamiento con respecto a las características y necesidades que presenta. Es importante que para no interrumpir el proceso, en el momento en que usted decida completar la Historia de Desarrollo y Antecedentes de su hijo(a), tenga a la mano los documentos de tratamientos y evaluaciones médicas, psicológicas y educativas previas; pues los mismos pueden ser necesarios para algunas secciones.
                            </p>
                            <p style="font-size:18px;margin-top:20px" class="text-justify">
                                Le pedimos lea y responda detenidamente a cada una de las preguntas que aparecen en cada sección, oprimiendo al finalizar el llenado el botón de <b>GUARDAR</b>, lo cual dará por terminado el proceso de captura de los datos.
                            </p>
                            <p style="font-size:18px;margin-top:20px" class="text-justify">Muchas gracias</p>
                            <div class="row">
                                <div class="col-md-6">
                                    <!--<img style="margin-top:20px"src="{{asset('bundles/images/logo-red-png.png')}}" width="200px"/>-->
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane active" id="historiac">
                    <h4>Datos del niño(a)</h4>
                    <div class="row">
                        <div class="col-md-3">
                            <label>Nombre</label>
                            <div class="form-group">
                                {{ form_widget(edit_form.paciente.nombre) }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label>Apellido paterno</label>
                            <div class="form-group">
                                {{ form_widget(edit_form.paciente.apellidoPaterno) }}

                            </div>
                        </div>
                        <div class="col-md-3">
                            <label>Apellido Materno</label>
                            <div class="form-group">
                                {{ form_widget(edit_form.paciente.apellidoMaterno) }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label>Fecha de nacimiento</label>
                            <div class="form-group">
                                {{ form_widget(edit_form.paciente.fechaNacimiento) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-3">
                            <label>Sexo</label>
                            <div class="form-group">
                                {{ form_widget(edit_form.hcDgnSexo) }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label>Edad</label>
                            <div class="form-group">
                                {{ form_widget(edit_form.paciente.edad) }}
                            </div>
                        </div>
                       
                        <div class="col-md-3">
                            <label>Ciudad</label>
                            <div class="form-group">
                                {{ form_widget(edit_form.paciente.ciudad) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h4>Datos familiares</h4>
                        <table class="table">
                            <tr>
                                <td></td>
                                <td>Nombre</td>
                                <td>Edad</td>
                                <td>Teléfono celular</td>
                                <td>Teléfono casa</td>
                                <td>Correo electrónico</td>
                            </tr>
                            <tr>
                                <td>
                                    Madre
                                </td>
                                <td>
                                    {{ form_widget(edit_form.DatosFamiliaresMadre.nombre)}}
                                </td>
                                <td>
                                    {{ form_widget(edit_form.DatosFamiliaresMadre.edad)}}
                                </td>
                                <td>
                                    {{ form_widget(edit_form.DatosFamiliaresMadre.telefonoCel)}}
                                </td>
                                <td>
                                    {{ form_widget(edit_form.DatosFamiliaresMadre.telefonoDom)}}
                                </td>
                                <td>
                                    {{ form_widget(edit_form.DatosFamiliaresMadre.email)}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Padre
                                </td>
                                <td>
                                    {{ form_widget(edit_form.DatosFamiliaresPadre.nombre)}}
                                </td>
                                <td>
                                    {{ form_widget(edit_form.DatosFamiliaresPadre.edad)}}
                                </td>
                                <td>
                                    {{ form_widget(edit_form.DatosFamiliaresPadre.telefonoCel)}}
                                </td>
                                <td>
                                    {{ form_widget(edit_form.DatosFamiliaresPadre.telefonoDom)}}
                                </td>
                                <td>
                                    {{ form_widget(edit_form.DatosFamiliaresPadre.email)}}
                                </td>
                            </tr>
                        </table>
                        <div class="row">
                            <div class="col-md-12">
                                <p><b>¿Cuál es el motivo por el qué ha asistido usted a nuestra institución?</b>
                                    En caso de haber sido remitido por algún especialista, refiera su nombre y el motivo
                                    por el cual lo
                                    remite. Aclare además que espera obtener como resultado del presente proceso
                                    evaluativo.
                                </p>
                                {{ form_widget(edit_form.MotivoConsulta.motivoAsistencia) }}

                            </div>

                        </div>

                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="motivo_consulta">
                    <div>

                        <div class="row" style="margin-bottom: 20px">
                            <p style="margin-top:10px"><b>Quién lo remite</b></p>
                            <div class="pull-left">
                                <label>Pediatra</label>
                                {{ form_widget(edit_form.hcRemPediatra) }}
                            </div>
                            <div class="pull-left">
                                <label>Neuropediatra</label>
                                {{ form_widget(edit_form.hcRemNenopediatra) }}
                            </div>
                            <div class="pull-left">
                                <label>Psicólogo</label>
                                {{ form_widget(edit_form.hcRemPsicologo) }}
                            </div>
                            <div class="pull-left">
                                <label>Psiquiatra</label>
                                {{ form_widget(edit_form.hcRemPsiquiatra) }}
                            </div>
                            <div class="pull-left mr5">
                                <label>Colegio</label>
                                {{ form_widget(edit_form.hcRemColegio) }}
                            </div>

                            <div class="pull-left">
                                <label>Terapia del Lenguaje</label>
                                {{ form_widget(edit_form.hcRemTerapiaLenguaje) }}
                            </div>
                            <div class="pull-left">
                                <label>Otro</label>

                                {{ form_widget(edit_form.hcRemOtro) }}
                            </div>
                            <div class="pull-left">
                                <label>Busqueda de la propia familia</label>

                                {{ form_widget(edit_form.hcRemBusqueda) }}
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p><b>Resumen de antecedentes de Atención</b> (Aclare y describa si ha recibido o recibe los siguientes tratamientos:)</p>
                                <table class="table-bordered">
                                    <tr>
                                        <td></td>
                                        <td><b>¿Si?</b></td>
                                        <td><b>Describa</b></td>
                                    </tr>
                                    <tr>
                                        <td>Fármacos Neurológicos</td>
                                        <td>
                                            {{ form_widget(edit_form.hcAdaFarmacosNeurologicos) }}
                                        </td>
                                        <td rowspan="11">
                                            {{ form_widget(edit_form.descripcionAntecedentesAtencion) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Terapia de lenguaje</td>
                                        <td>
                                            {{ form_widget(edit_form.hcAdaTerapiaLenguaje) }}
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Apoyo pedagógico</td>
                                        <td>
                                            {{ form_widget(edit_form.hcAdaApoyoPedagogico) }}
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Abordaje Nutricional</td>
                                        <td>
                                            {{ form_widget(edit_form.hcAdaAbordajeNutricional) }}
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Terapia Ocupacional</td>
                                        <td>
                                            {{ form_widget(edit_form.hcAdaTerapiaOcupacional) }}
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Terapia asistida por animales</td>
                                        <td>
                                            {{ form_widget(edit_form.hcAdaTerapiaAsistAnimales) }}
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Terapias Sensoriales</td>
                                        <td>
                                            {{ form_widget(edit_form.hcAdaTerapiasSensoriales) }}
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Estimulación Temprana</td>
                                        <td>
                                            {{ form_widget(edit_form.hcAdaEstimulacionTemprana) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Psicomotricidad</td>
                                        <td>
                                            {{ form_widget(edit_form.hcAdaPsicomotricidad) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Apoyo Psicológico</td>
                                        <td>
                                            {{ form_widget(edit_form.hcAdaApoyoPsicologico) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Otro</td>
                                        <td>
                                            {{ form_widget(edit_form.hcAdaOtro) }}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <p style="margin-bottom:45px;"><b>Aclare si se han realizado los siguientes exámenes y
                                    describa brevemente
                                    los resultados.</b></p>

                                <table class="table-bordered">
                                    <tr>
                                        <td></td>
                                        <td><b>¿Si?</b></td>
                                        <td><b>Describa</b></td>
                                    </tr>
                                    <tr>
                                        <td>Electroencefalograma</td>
                                        <td>
                                            {{ form_widget(edit_form.hcExaElectroencefalograma) }}

                                        </td>
                                        <td rowspan="9">
                                             {{ form_widget(edit_form.descripcionAntecedentesAtencionExamenes) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>TAC</td>
                                        <td>
                                            {{ form_widget(edit_form.hcExaTac) }}

                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Potenciales Evocados</td>
                                        <td>
                                            {{ form_widget(edit_form.hcExaPotencialesEmocados) }}

                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Valoración Genética</td>
                                        <td>
                                            {{ form_widget(edit_form.hcExaValoracionGenetica) }}

                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Tamiz Metabólico</td>
                                        <td>
                                            {{ form_widget(edit_form.hcTamizMetabolico) }}

                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Resonancia Magnética</td>
                                        <td>
                                            {{ form_widget(edit_form.hcExaResonanciaMagnetica) }}

                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Evaluación Neuropsicológica</td>
                                        <td>
                                            {{ form_widget(edit_form.hsEvalNenopsicologica) }}

                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Evaluación del Lenguaje</td>
                                        <td>
                                            {{ form_widget(edit_form.hcExaEvalLenguaje) }}

                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Otra</td>
                                        <td>
                                            {{ form_widget(edit_form.hcExaOtra) }}

                                        </td>

                                    </tr>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="embarazo">
                    <div>
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="bold">PARTO</h4>
                                <table>
                                    <tr>
                                        <td></td>
                                        <td>Mamá</td>
                                        <td>Papá</td>
                                    </tr>
                                    <tr>
                                        <td>Edad de los padres al momento del nacimiento:</td>
                                        <td>{{ form_widget(edit_form.hcEmbEdadMama) }}</td>
                                        <td>{{ form_widget(edit_form.hcEmbEdadPapa) }}</td>
                                        <td></td>
                                    </tr>
                                </table>
                                <h4>Durante el embarazo:</h4>
                                <table class="table-bordered">
                                    <tr>
                                        <td></td>
                                        <td>Si</td>
                                        <td></td>
                                        <td>Describa</td>
                                    </tr>
                                    {#
                                    <tr>
                                        <td>Tuvo abortos posteriores o anteriores:</td>
                                        <td>
                                            {{ form_widget(edit_form.hcEmbAbortosMama) }}
                                        </td>
                                        <td>
                                        </td>
                                        <td rowspan="9">
                                            {{ form_widget(edit_form.descripcionEmbarazo.embDescAbortoMama) }}</td>
                                    </tr>
                                    #}
                                    <tr>
                                        <td>Sufrió accidentes, caídas o golpes</td>
                                        <td>
                                            {{ form_widget(edit_form.hcEmbAcgMama) }}
                                        </td>
                                        <td>
                                        </td>
                                        <td rowspan="9">
                                            {{ form_widget(edit_form.descripcionEmbarazo) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Padeció alguna enfermedad</td>
                                        <td>
                                            {{ form_widget(edit_form.hcEmbEdembMama) }}
                                        </td>
                                        <td>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Tuvo hábitos tóxicos (tabaco, alcohol, drogas)
                                        </td>
                                        <td>
                                            {{ form_widget(edit_form.hcEmbHtoxMama) }}
                                        </td>
                                        <td>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Tuvo estrés, ansiedad o depresión.
                                        </td>
                                        <td>
                                            {{ form_widget(edit_form.hcEmbEadMama) }}
                                        </td>
                                        <td>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Tuvo intoxicaciones o alergias alimenticias.
                                        </td>
                                        <td>
                                            {{ form_widget(edit_form.hcEmbIaalimMama) }}
                                        </td>
                                        <td>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Tomó algún medicamento.
                                        </td>
                                        <td>
                                            {{ form_widget(edit_form.hcEmbMedicamentosMama) }}
                                        </td>
                                        <td>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Su peso era adecuado.
                                        </td>
                                        <td>
                                            {{ form_widget(edit_form.hcEmbPesoOkMama) }}
                                        </td>
                                        <td>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Le realizaron exámenes y revisiones periódicas.</td>
                                        <td>
                                            {{ form_widget(edit_form.hcEmbExperiodMama) }}
                                        </td>
                                        <td>
                                        </td>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <h4 class="bold">PARTO Y POSTPARTO</h4>
                                <table class="table-striped">
                                    <tr>
                                        <td style="padding:10px">El parto fue</td>
                                        <td>
                                            <div class="pull-right">
                                                <label>Pos término</label>
                                                {{ form_widget(edit_form.hcNacpPartoPostermino) }}
                                            </div>

                                            <div class="pull-right">
                                                <label>A termino</label>
                                                {{ form_widget(edit_form.hcNacpPartoTermino) }}
                                            </div>
                                            <div class="pull-right">
                                                <label>Prematuro</label>
                                                {{ form_widget(edit_form.hcNacpPartoPretermino) }}
                                            </div>
                                            <div class="pull-right">
                                                <label>Cesárea</label>
                                                {{ form_widget(edit_form.hcNacpPartoCesarea) }}
                                            </div>
                                            <div class="pull-right">
                                                <label>Natural</label>
                                                {{ form_widget(edit_form.hcNacpPartoNatural) }}
                                            </div>

                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding:10px">
                                            El llanto del niño fue
                                        </td>
                                        <td>
                                            <div class="pull-right">
                                                <label>Espont&aacuteneo</label>
                                                {{ form_widget(edit_form.hcNacpLlantoEspontaneo) }}
                                            </div>
                                            <div class="pull-right">
                                                <label>Provocado</label>
                                                {{ form_widget(edit_form.hcNacpLlantoProvocado) }}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:10px">El peso del niño fue</td>
                                        <td>
                                            <div class="pull-right">
                                                <label>Normal</label>
                                                {{ form_widget(edit_form.hcNacpPesoNormal) }}
                                            </div>
                                            <div class="pull-right">
                                                <label>Bajo peso</label>
                                                {{ form_widget(edit_form.hcNacpPesoBajo) }}
                                            </div>
                                            <div class="pull-right">
                                                <label>Sobrepeso</label>
                                                {{ form_widget(edit_form.hcNacpPesoSobre) }}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:10px; width:180px">Hubo Sufrimiento Fetal</td>
                                        <td>
                                            <div class="pull-left">
                                                <label>Si</label>
                                                {{ form_widget(edit_form.hcNacpSufrimientoFetal) }}
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <table class="table-bordered table-condensed">
                                    <tr>
                                        <td><p class="bold">Marque si requirió</p></td>
                                        <td><p class="bold">Si</p></td>
                                        <td><p class="bold">Describa</p></td>
                                    </tr>
                                    <tr>
                                        <td>Hospitalización</td>
                                        <td>
                                            {{ form_widget(edit_form.hcNacpHospitalizacion) }}
                                        </td>
                                        <td rowspan="8">
                                            {{ form_widget(edit_form.nacimientoParto.nacDescSufrimientoFetal) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Asistencia Respiratoria</td>
                                        <td>
                                            {{ form_widget(edit_form.hcNacpAsistenciaRespiratoria) }}
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Incubadora</td>
                                        <td>
                                            {{ form_widget(edit_form.hcNacpIncubadora) }}
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Reanimación</td>
                                        <td>
                                            {{ form_widget(edit_form.hcNacpReanimacion) }}
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Tratamiento farmacológico</td>
                                        <td>
                                            {{ form_widget(edit_form.hcNacpTratFarmacologico) }}

                                        </td>

                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="características">
                    <div>
                        <div class="row text-justify">
                            <div class="col-md-6">
                                <h4>Características de Desarrollo</h4>
                                <label>¿Considera usted qué el primer año de vida de su hijo(a) ha transcurrido de una
                                    manera normal, como el
                                    de cualquier otro niño(a)?</label>
                                <div class="form-group">
                                    <label>Si</label>
                                    {{ form_widget(edit_form.hcCdesTnpav) }}
                                </div>
                                <label>¿Por qué?</label>
                                <div class="form-group">
                                    {{ form_widget(edit_form.caracteristicasDesarrollo.cdesDescTnpav) }}
                                </div>
                                <label>¿Qué situaciones o comportamientos de su hijo(a) llamaron su atención durante su
                                    primer año de
                                    vida?</label>
                                <div class="form-group">
                                    {{ form_widget(edit_form.caracteristicasDesarrollo.cdesDescscdpav) }}
                                </div>
                                <label>¿Cuales fueron las primeras manifestaciones de alteraciones en su hijo(a) y qué
                                    edad tenía él o ella
                                    cuando aparecieron?</label>
                                <div class="form-group">
                                    {{ form_widget(edit_form.caracteristicasDesarrollo.cdesDescPmah) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                {# <label>¿Qué edad tenía su hijo(a) cuando usted comenzó a notar características o
                                comportamientos que
                                indicaban que algo no estaba bien en el o ella?</label>

                                {{ form_widget(edit_form.hcCdesEdadCca) }}

                                <label>Describa</label>

                                <div class="form-group">
                                    {{ form_widget(edit_form.caracteristicasDesarrollo.cdesDescEdadCca) }}
                                </div>
                                #}
                                <h4>Desarrollo sociocomunicativo y motor</h4>
                                <p class="well">Indique en la siguiente tabla la edad (en meses) en la cual su hijo(a)
                                    adquirió las siguientes conductas de desarrollo</p>
                                <table class="table-hover table-striped" id="desarrollo_sociocomunicativo">
                                    <tr>
                                        <td><b>Indicador</b></td>
                                        <td><b class="text-right">Edad en meses</b></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 385px;">Sonreír a su rostro cuando se le acerca</td>
                                        <td>
                                            {{ form_widget(edit_form.hcDsmEdadSrca) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 385px;">Tomar objetos con sus manos</td>
                                        <td>
                                            {{ form_widget(edit_form.hcDsmEdadTomarObj) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 385px;">Prestar atención a las acciones que sus padres
                                            realizan
                                        </td>
                                        <td>
                                            {{ form_widget(edit_form.hcDsmEdadSPadres) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="width: 385px;">Manipular objetos y juguetes de manera funcional</td>
                                        <td>
                                            {{ form_widget(edit_form.hcDsmEdadMobjfunc) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 385px;">Mantenerse sentado sin apoyo</td>
                                        <td>
                                            {{ form_widget(edit_form.hcDsmEdadGatear) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 385px;">Responder a la voz de los padres, calmarse al
                                            escucharlos
                                        </td>
                                        <td>
                                            {{ form_widget(edit_form.hcDsmEdadSoaint) }}

                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 385px;">Sostener el contacto visual y mantenerse atento al
                                            rostro del adulto
                                        </td>
                                        <td>
                                            {{ form_widget(edit_form.hcDsmEdadPrimerasPalabras) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 385px;">Dar sus primeros pasos</td>
                                        <td>
                                            {{ form_widget(edit_form.hcDsmEdadCaminar) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 385px;">Señalar objetos o situaciones para pedirlos o
                                            mostrarlos
                                        </td>
                                        <td>
                                            {{ form_widget(edit_form.hcDsmEdadMasen) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 385px;">Decir sus primeras palabras</td>
                                        <td>
                                            {{ form_widget(edit_form.hcDsmEdadJugar) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 385px;">Imitar acciones y expresiones del adulto</td>
                                        <td>
                                            {{ form_widget(edit_form.hcDsmEdadResponder) }}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="estado_salud">
                    <div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>A continuaci&oacuten describa la situación y estado actual de salud de su hijo(a), aclarando los tratamientos que lleva a cabo y las necesidades especiales que de ello se derivan</label>
                                <div class="form-group">
                                    {{ form_widget(edit_form.hcHesMedicamentos) }}
                                </div>
                            </div>
                            <div class="col-md-11">
                                <p class="well">
                                En la siguiente tabla describa los principales problemas de salud que ha padecido su hijo(a) desde su nacimiento, aclarando la edad en que lo padeció y los tratamientos implementados
                                </p>
                                <!--TODO falta esto por hacer-->
                                <table class="table">
                                    <tr>
                                        <td>{{form_widget(edit_form.estado_salud_enfermedades.enfermedad1)}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{form_widget(edit_form.estado_salud_enfermedades.enfermedad2)}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{form_widget(edit_form.estado_salud_enfermedades.enfermedad3)}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{form_widget(edit_form.estado_salud_enfermedades.enfermedad4)}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{form_widget(edit_form.estado_salud_enfermedades.enfermedad5)}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="antecedentes">
                    <h4>Antecedentes Familiares</h4>
                    <div>
                        <div class="row">
                            <p class="text-justify well">
                                Señale si en la familia por parte de madre o de padre se ha presentado alguna de las
                                condiciones que aparecen en la lista. Si se trata específicamente de algún hermano, por
                                favor marque la columna correspondiente. Describa a la derecha los datos que considere
                                relevantes, por ejemplo, el tipo de parentesco con el niño
                            </p>
                            <div class="col-md-6">
                                <table class="table">
                                    <tr>
                                        <td><p class="bold">Enfermedades o condiciones del desarrollo</p></td>
                                        <td>Mamá</td>
                                        <td>Papá</td>
                                        <td>Hermano u otros</td>
                                    </tr>
                                    <tr>
                                        <td>Trastorno del espectro del autismo</td>
                                        <td>
                                            <div class="form-group">
                                                {{ form_widget(edit_form.hcAfTeaMama) }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                {{ form_widget(edit_form.hcAfTeaPapa) }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                {{ form_widget(edit_form.hcAfTeaHermano) }}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Trastorno del lenguaje</td>
                                        <td>
                                            <div class="form-group">
                                                {{ form_widget(edit_form.hcAfTdlMama) }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                {{ form_widget(edit_form.hcAfTdlPapa) }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                {{ form_widget(edit_form.hcAfTdlHermano) }}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Discapacidad intelectual</td>
                                        <td>
                                            <div class="form-group">
                                                {{ form_widget(edit_form.hcAfDintlMama) }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                {{ form_widget(edit_form.hcAfDintlPapa) }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                {{ form_widget(edit_form.hcAfDintlHermano) }}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Enfermedad psiqui&aacutetrica</td>
                                        <td>
                                            <div class="form-group">
                                                {{ form_widget(edit_form.hcAfEnfpsqMama) }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                {{ form_widget(edit_form.hcAfEnfpsqPapa) }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                {{ form_widget(edit_form.hcAfEnfpsqHermano) }}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Trastorno de aprendizaje</td>
                                        <td>
                                            <div class="form-group">
                                                {{ form_widget(edit_form.hcAfTaprendMama) }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                {{ form_widget(edit_form.hcAfTaprendPapa) }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                {{ form_widget(edit_form.hcAfTaprenHermano) }}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Trastorno por déficit de atención</td>
                                        <td>
                                            <div class="form-group">
                                                {{ form_widget(edit_form.hcAfTpddaMama) }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                {{ form_widget(edit_form.hcAfTpddaPapa) }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                {{ form_widget(edit_form.hcAfTpddaHermano) }}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Trastorno de la conducta y el comportamiento</td>
                                        <td>
                                            <div class="form-group">
                                                {{ form_widget(edit_form.hcAfTccMama) }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                {{ form_widget(edit_form.hcAfTccPapa) }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                {{ form_widget(edit_form.hcAfTccHermano) }}
                                            </div>
                                        </td>
                                    </tr>
                                </table>

                            </div>
                            <div class="col-md-6">
                                <p class="bold">Describa</p>
                                {{form_widget(edit_form.descripcionAntecedentesFamiliares)}}
                            </div>
                        </div>
                    </div>

                </div>
                <div role="tabpanel" class="tab-pane" id="habitos">
                    <h4>Hábito y autonomía</h4>
                    <div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="well text-justify">
                                    Marque si nota usted alguna necesidad de apoyo u orientación en cuanto al
                                    funcionamiento de los siguientes hábitos en su hijo. Describa a la derecha las
                                    características observadas y las medidas y acciones que hasta el momento han
                                    implementado.
                                </div>
                                <table class="table table-striped" id="habitos_tabla">
                                    <tr>
                                        <td></td>
                                        <td style="width: 50px;">
                                            <p class="bold text-center" style="font-size:10px">Muestra necesidades o
                                                presenta algún problema</p>
                                        </td>
                                        <td><p class="bold">Descripci&oacuten</p></td>
                                    </tr>
                                    <tr>
                                        <td>Hábitos de Sueño</td>
                                        <td class="text-center">{{ form_widget(edit_form.hcHabAutSueno)}}</td>
                                        <td>
                                            {{ form_widget(edit_form.hcHabAutSuenoDescripcion)}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Hábitos Alimenticios</td>
                                        <td class="text-center">{{ form_widget(edit_form.hcHabAutAlimenticio)}}</td>
                                        <td>
                                            {{ form_widget(edit_form.hcHabAutAlimenticioDesc)}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Hábitos Higiénicos</td>
                                        <td class="text-center">{{ form_widget(edit_form.hcHabAutHigienicos)}}</td>
                                        <td>
                                            {{ form_widget(edit_form.hcHabAutHigienicosDesc)}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Hábitos Inherentes al Control de Esfínteres</td>
                                        <td class="text-center">{{ form_widget(edit_form.hcHabAutEsfinteres)}}</td>
                                        <td>
                                            {{ form_widget(edit_form.hcHabAutEsfinteresDesc)}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Hábitos de Autocuidado</td>
                                        <td class="text-center">{{ form_widget(edit_form.hcHabAutAutocuidado)}}</td>
                                        <td>
                                            {{ form_widget(edit_form.hcHabAutAutocuidadoDesc)}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Hábitos de Vestido</td>
                                        <td class="text-center">{{ form_widget(edit_form.hcHabAutVestido)}}</td>
                                        <td>
                                            {{ form_widget(edit_form.hcHabAutVestidoDesc)}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Hábitos de Juego y Rutinas de Actividad</td>
                                        <td class="text-center">{{ form_widget(edit_form.hcHabAutJuegoRutinas)}}</td>
                                        <td>
                                            {{ form_widget(edit_form.hcHabAutJuegoRutinasDesc)}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Otros Hábitos</td>
                                        <td class="text-center">{{ form_widget(edit_form.hcHabAutOtros)}}</td>
                                        <td>
                                            {{ form_widget(edit_form.hcHabAutOtrosDesc)}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="instituciones">
                    <h4>Historia e instituciones educativas</h4>
                    <div>
                        <div class="row">
                            <div class="col-md-4">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <p class="bold">Aclare si su hijo(a)</p>
                                        </td>
                                        <td><p class="bold">Si</p></td>
                                    </tr>
                                    <tr>
                                        <td>¿Asiste a la escuela?</td>
                                        <td>{{ form_widget(edit_form.hcAEasisteEscuela)}}</td>
                                       
                                    </tr>
                                    <tr>
                                        <td>¿Recibe o necesita algún tipo de apoyo curricular en el colegio?</td>
                                        <td>{{ form_widget(edit_form.hcAEapoyoCurricular)}}</td>
                                    </tr>
                                    >
                                    </tr>
                                    <tr>
                                        <td>¿Se encuentra desfasado con respecto a su edad?</td>
                                        <td>{{ form_widget(edit_form.hcAEdesfasadoEdad)}}</td>
                                    </tr>
                                    <tr>
                                        <td>¿Recibe apoyo psicopedagógico o de USAER en su colegio?</td>
                                        <td>{{ form_widget(edit_form.hcAEapoyoPsicopedagogico)}}</td>
                                    </tr>
                                    <tr>
                                        <td>¿Asiste con maestra sombra o auxiliar educativa?</td>
                                        <td>{{ form_widget(edit_form.hcAEmaestraSombra)}}</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 410px;">¿Participa de manera ordinaria en todas las
                                            actividades y materias escolares?
                                        </td>
                                        <td>{{ form_widget(edit_form.hcAEparticipaManeraOrdinariaActividades)}}</td>
                                    </tr>
                                    <tr>
                                        <td>¿Se integra de manera funcional a su grupo de compañeros escolares?</td>
                                        <td>{{ form_widget(edit_form.hcAEingregraGrupo)}}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-8">
                                <p class="bold text-justify">
                                    Narre sus experiencias en los centros educativos a los que ha llevado a su hijo(a)
                                    especificando las características de la atención que recibió, los beneficios
                                    obtenidos y las necesidades actuales que considera usted debemos tener en cuenta con
                                    respecto a su proceso de inclusión educativa.
                                </p>
                                {{ form_widget(edit_form.hcAEDescripcionExperiencias)}}

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>Grado escolar</label>
                                <div class="form-group">
                                    {{ form_widget(edit_form.paciente.gradoEscolar) }}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Nombre de la escuela</label>
                                    {{ form_widget(edit_form.paciente.nombreEscuela) }}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Teléfono de la escuela</label>
                                    {{ form_widget(edit_form.paciente.telefonoEscuela) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p class="well">
                                    Por favor anote en este espacio otra informacion que considere pertinente con respecto a los antecedentes de atencion de su hijo.
                                    Una vez lo haya hecho, no olvide apretar el boton de guardar para que su historia clinica sea enviada a nuestra base de datos
                                </p>
                                {{form_widget(edit_form.hcDescripcionFinal)}}
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="btn-group pull-right" style="margin-top:25px" role="group">
        <button type="submit" class="btn btn-success">
            <i class="glyphicon glyphicon-save"></i>
            Guardar
        </button>
        <a href="{{ path('historiaclinica_index') }}" class="btn btn-danger">
            <i class="glyphicon glyphicon-list"></i>Listado de pacientes
        </a>
    </div>
    {{ form_end(edit_form)}}
    </div>
     <div>
            {{ form_start(delete_form) }}
                <button class="btn btn-danger"type="submit" value="Borrar">
                     <i class="glyphicon glyphicon-remove"></i>Borrar
                </button>
            {{ form_end(delete_form) }}
        </li>
{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <style>
        input[type=checkbox] {
            margin-right: 15px;
        }

        .mr10 {
            margin-right: 5px;
        }
        #mainbundle_historiaclinica_hcDescripcionFinal{
            width: 969px; 
            height: 81px;
        }
        #mainbundle_historiaclinica_habitosHijo_hhDescPreocupacion {
            width: 800px;
        }

        #mainbundle_historiaclinica_habitosHijo_hhDescEsfa,
        {
            width: 230px;
        }

        #mainbundle_historiaclinica_MotivoConsulta_motivoAsistencia {
            width: 1000px !important;
            height: 150px !important;
        }

        #mainbundle_historiaclinica_MotivoConsulta_expectativaSolicitud {
            width: 460px !important;
        }

        #mainbundle_historiaclinica_caracteristicasDesarrollo_cdesDescTnpav {
            width: 480px !important;
            height: 50px !important;
        }

        #mainbundle_historiaclinica_caracteristicasDesarrollo_cdesDescEdadCca {
            width: 490px;
            height: 50px;
        }

        #mainbundle_historiaclinica_caracteristicasDesarrollo_cdesDescscdpav {
            width: 480px;
            height: 50px;
        }

        #mainbundle_historiaclinica_hcHesMedicamentos {
            width: 900px;
            height: 100px;
        }

        #mainbundle_historiaclinica_caracteristicasDesarrollo_cdesDescPmah {
            height: 50px;
            width: 480px;
        }

        #mainbundle_historiaclinica_descripcionEmbarazo {
            width: 181px;
            height: 170px;
        }
        #mainbundle_historiaclinica_nacimientoParto_nacDescSufrimientoFetal{
            height: 150px;
        }
        #mainbundle_historiaclinica_nacimientoParto_nacpDescHospitalizacion {
            width: 189px;
            height: 147px;
        }
        #mainbundle_historiaclinica_descripcionAntecedentesFamiliares{
            width: 470px;
            height: 394px;
        }
        #mainbundle_historiaclinica_habitosHijo_hhDescEsfv {
            width: 326px;
            height: 190px;
        }

        #mainbundle_historiaclinica_habitosHijo_hhDescEsfa {
            height: 192px;
            width: 341px;
        }

        #mainbundle_historiaclinica_habitosHijo_hhDescPreocupacion {
            height: 82px;
            width: 810px;
        }

        #mainbundle_historiaclinica_hcAEDescripcionExperiencias {
            margin: 0px;
             width: 626px;
            height: 339px;
        }

        #mainbundle_historiaclinica_hcHabAutDescripcion {
            height: 285px;
            width: 468px;
        }
        #mainbundle_historiaclinica_descripcionAntecedentesAtencion{
            margin-bottom: 0px;
            height: 238px;
        }
        #mainbundle_historiaclinica_descripcionAntecedentesAtencionExamenes{
            height: 199px;
        }
        #habitos_tabla textarea {
            width: 520px !important;
        }
    </style>

    <script>
        $(function () {
            $('input[type=text],input[type=number]').addClass('form-control');
        });
    </script>

{% endblock %}
 