{% extends 'base.html.twig' %}

{% block body %}
    <script>
        $(function () {
            $('select,input').addClass('form-control');
        })
    </script>
    <style>
        .row {
            margin-top: 10px;
            margin-left: 10px;
        }

        .btn {
            margin-top: 20px;
        }
    </style>
    <div class="row">
        <form class="form-horizontal" action="{{ path('historiaclinica_ejecutar_filtro') }}" method="post">
            <p class="pull-left" style="font-size: 18px">Cruce de variables para la historia clínica</p>
            <button class="btn btn-success pull-right" style="margin-right:20px;">Filtrar</button>
            <div class="clearfix"></div>

            <hr>
            <div class="row">
                <div class="col-sm-3">
                    {{ form_row(form.nombre) }}

                </div>
                <div class="col-sm-3">
                    {{ form_row(form.procedencia) }}
                </div>
                <div class="col-sm-3">
                    {{ form_row(form.edad) }}
                </div>
                <div class="col-sm-3">
                    {{ form_row(form.sexo) }}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    {{ form_row(form.quien_remite) }}
                </div>
                <div class="col-sm-3">
                    {{ form_row(form.antecendes_atencion) }}
                </div>
                <div class="col-sm-3">
                    {{ form_row(form.examenes) }}
                </div>
                <div class="col-sm-3">
                    {{ form_row(form.edad_mama) }}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    {{ form_row(form.edad_papa) }}
                </div>
                <div class="col-sm-3">
                    {{ form_row(form.parto_fue) }}
                </div>
                <div class="col-sm-3">
                    {{ form_row(form.llanto_fue) }}
                </div>
                <div class="col-sm-3">
                    {{ form_row(form.peso_fue) }}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    {{ form_row(form.sufrimiento_fetal) }}
                </div>
                <div class="col-sm-3">
                    {{ form_row(form.requirio_en_parto) }}
                </div>
                <div class="col-sm-3">
                    {{ form_row(form.sufrio_en_parto) }}
                </div>
                <div class="col-sm-3">
                    <label for="">Primer año normal</label>
                    {{ form_widget(form.primer_ano_normal) }}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    {{ form_row(form.sonreir_rostro) }}
                </div>
                <div class="col-sm-3">
                    {{ form_row(form.tomar_objetos_mano) }}
                </div>
                <div class="col-sm-3">
                    {{ form_row(form.prestar_atencion) }}
                </div>
                <div class="col-sm-3">
                    {{ form_row(form.manipular_objetos) }}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    {{ form_row(form.mantenerse_sentado) }}
                </div>
                <div class="col-sm-3">
                    {{ form_row(form.responder_voz_padres) }}
                </div>
                <div class="col-sm-3">
                    {{ form_row(form.contacto_visual) }}
                </div>
                <div class="col-sm-3">
                    {{ form_row(form.primeros_pasos) }}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    {{ form_row(form.senalar_objetos) }}
                </div>
                <div class="col-sm-3">
                    {{ form_row(form.primeras_palabras) }}
                </div>
                <div class="col-sm-3">
                    {{ form_row(form.imitar_acciones) }}
                </div>
                <div class="col-sm-3">
                    {{ form_row(form.trastorno_autismo) }}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <label for="">Trastorno défict atención</label>
                    {{ form_widget(form.trastono_deficit_atencion) }}
                </div>
                <div class="col-sm-3">
                    {{ form_row(form.discapacidad_intelectual) }}
                </div>
                <div class="col-sm-3">
                    <label for="">Enfermedad psiquiátrica</label>
                    {{ form_widget(form.enfermedad_psiquiatrica) }}
                </div>
                <div class="col-sm-3">
                    {{ form_row(form.trastono_aprendizaje) }}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    {{ form_row(form.trastono_conducta) }}
                </div>
                <div class="col-sm-3">
                    {{ form_row(form.trastorno_lenguaje) }}
                </div>
                <div class="col-sm-3">
                    {{ form_row(form.habito_autonomia) }}
                </div>
                <div class="col-sm-3">
                    {{ form_row(form.grado_escolar) }}
                </div>
            </div>
            <button class="btn btn-success btn-lg btn-block">Filtrar</button>
        </form>
    </div>
{% endblock %}
