{% extends 'base.html.twig' %}

{% block body %}
	<h4 class="text-center" style="background-color:#5cb85c;padding:7px;color:#fff"><b>FIN LLENADO DATOS</b></h4>
	<div id="contenedor-inicio">
		<h3 class="well">Sus datos han sido capturados satisfactoriamente y ser&aacute;n enviados a la coordinaci&oacute;n de red. Esperamos ser una opci&oacute;n educativa y de apoyo que responda a las necesidades de su hijo(a)</h3>
		<P>Atte. Equipo RED</P>
		{% if app.user %}
		<a href="{{ path('historiaclinica_index')}}">Ir al listado Historia Cl&iacutenica</a>
		{% endif %}
	</div>

{% endblock %}