{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        <i class="glyphicon glyphicon-list"></i>
        Historia clínicas <b>{{ total }}</b></h1>
        <ul class="pull-right">
            <li>
                <a href="{{ path('historiaclinica_filtro') }}" class="btn btn-info">
                    <i class="glyphicon glyphicon-new-window"></i>Cruce variables</a>
                </li>
            </ul>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido Paterno</th>
                        <th>Apellido Materno</th>
                        <th>Ciudad</th>
                        <th>Edad</th>
                        <th>En Tratamiento</th>
                        <th>Profesional</th>
                        <th>Fecha Creación</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for historiaClinica in pagination %}
                        <tr>
                            <td>
                                {{ historiaClinica.paciente.nombre}}
                            </td>
                            <td>
                                {{ historiaClinica.paciente.apellidoPaterno}}
                            </td>
                            <td>
                                {{ historiaClinica.paciente.apellidoMaterno}}
                            </td>
                            <td>
                                {{ historiaClinica.paciente.ciudad}}
                            </td>
                            <td>
                                {{ historiaClinica.paciente.edad}}
                            </td>
                            <td>
                                {% if historiaClinica.estadoCaso %}
                                    si
                                {% else %}
                                    no
                                {% endif %}
                            </td>
                            <td>
                                {{ historiaClinica.profesionalAtiende}}
                            </td>
                            <td>
                                {{ historiaClinica.fechaCreacion | date("d-m-y")}}
                            </td>
                            <td>
                                <ul>
                                    <li>
                                        <a style="float: left; margin-right:5px;" class="btn btn-xs btn-warning" href="{{ path('historiaclinica_show', { 'id': historiaClinica.id }) }}">ver HIC</a>
                                    </li>
                                    <li>
                                        <a style="float: left; margin-right:5px;" class="btn btn-xs btn-danger"href="{{ path('historiaclinica_edit', { 'id': historiaClinica.id }) }}">editar HIC</a>
                                    </li>
                                    <li>
                                        <a style="float: left; margin-right:5px;" class="btn btn-xs btn-success"href="{{ path('historiaclinica_pdf', { 'id': historiaClinica.id }) }}">PDF</a>
                                    </li>
                                </ul>
                            </td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
            <ul>
                <li>
                    <a href="{{ path('historiaclinica_instrucciones') }}" class="btn btn-success">
                        <i class="glyphicon glyphicon-new-window"></i>Nueva historia clinica</a>
                    </li>
                </ul>
            {% endblock %}
