{% extends 'base.html.twig' %}

{% block body %}
	<h4 class="text-center" style="background-color:#5cb85c;padding:7px;color:#fff"><b>HISTORIA DE DESARROLLO Y ANTECEDENTES</b></h4>
	<div id="contenedor-inicio">
		  <img id="img-fondo" src="{{asset('bundles/images/logo-red-png.png')}}" />
		<p style="font-size:18px;margin-top:20px" class="text-justify">			
			A continuación encontrará un documento que servirá para recopilar la Historia de Desarrollo y Antecedentes de su hijo(a), cuya información es necesaria para poder llevar a cabo un adecuado proceso de evaluación y de propuestas de tratamiento con respecto a las características y necesidades que presenta. Es importante que para no interrumpir el proceso, en el momento en que usted decida completar la Historia de Desarrollo y Antecedentes de su hijo(a), tenga a la mano los documentos de tratamientos y evaluaciones médicas, psicológicas y educativas previas; pues los mismos pueden ser necesarios para algunas secciones.
		</p>
		<p style="font-size:18px;margin-top:20px" class="text-justify">
			Le pedimos lea y responda detenidamente a cada una de las preguntas que aparecen en cada sección, oprimiendo al finalizar el llenado el botón de <b>GUARDAR</b>, lo cual dará por terminado el proceso de captura de los datos.
		</p>
		<p style="font-size:18px;margin-top:20px" class="text-justify">Muchas gracias</p>
		<div class="row">
			<div class="col-md-6">
 				<img style="margin-top:20px"src="{{asset('bundles/images/logo-red-png.png')}}" width="200px"/>
 			</div>
			<div class="col-md-6" style="padding-top:50px">				
				<span style="margin-top:20px">Oprima este botón para: </span>
				<a href="{{ path('historiaclinica_new') }}" class="btn btn-success">
					<b>INICIAR CAPTURA DE DATOS</b>
				</a>
			</div>			
		</div>
		<p style="padding:10px; border:solid 1px #5cb85c; margin-top:25px; font-style: italic;" class="text-justify">
			Le recordamos que los datos ofrecidos son confidenciales y su uso será exclusivo de nuestra institución para fines inherentes a los procesos de evaluación, diagnóstico y/o tratamiento de su hijo(a); o para fines de investigación, protegiendo siempre la integridad y confidencialidad de la información que ustedes ofrecen.
		</p>
	</div>

{% endblock %}