{% extends 'base.html.twig' %}

{% block body %}
    <style type="text/css">

        .txtarea_tablas {
            width: 290px;
            height: 220px !important;
        }

        input[type="number"] {
            width: 80px;
        }

        .shadow {
            text-shadow: 2px 3px 5px #054b27;
        }

        .nav-pills li a {
            font-weight: bold;
        }

        .bold {
            font-weight: bolder;
        }

        #instrucciones-btn {
            color: #008a36 !important;
        }
    </style>

    <div class="row">
        <h3 class="text-center border shadow"><i class="glyphicon glyphicon-edit"></i>
            Historia de Desarrollo e Información Básica de Antecedentes
        </h3>
        <div class="col-md-3">
            <!-- Nav tabs -->
            <img src="{{ asset('bundles/images/logo-red-png.png') }}" width="170px" style="margin-bottom:25px"/>
            <ul class="nav nav-pills nav-stacked" role="tablist">
                <li role="presentation">
                    <a href="#intructivo" id="instrucciones-btn" aria-controls="instructivo" role="tab"
                       data-toggle="tab">
                        Instrucciones</a>
                </li>
                <li role="presentation" class="active">
                    <a href="#historiac" aria-controls="home" role="tab" data-toggle="tab">
                        Datos Generales</a>
                </li>
                <li role="presentation">
                    <a href="#motivo_consulta" id="tab-motivo_consulta" aria-controls="profile" role="tab"
                       data-toggle="tab">
                        Antecedentes de Atención</a>
                </li>
                <li role="presentation">
                    <a href="#embarazo" id="tab-embarazo" aria-controls="messages" role="tab" data-toggle="tab">
                        Embarazo y Parto</a>
                </li>
                <li role="presentation">
                    <a href="#características" id="tab-características" aria-controls="settings" role="tab"
                       data-toggle="tab">

                        Caracter&iacute;sticas de Desarrollo</a>
                </li>
                <li role="presentation">
                    <a href="#estado_salud" id="tab-estado_salud" aria-controls="settings" role="tab" data-toggle="tab">

                        Estado de Salud</a>
                </li>
                <li role="presentation">
                    <a href="#antecedentes" id="tab-antecedentes" aria-controls="settings" role="tab" data-toggle="tab">

                        Antecedentes Familiares</a>
                </li>
                <li role="presentation">
                    <a href="#habitos" id="tab-habitos" aria-controls="settings" role="tab" data-toggle="tab">

                        Hábitos y Autonom&iacute;a</a>
                </li>
                <li role="presentation">
                    <a href="#instituciones" id="tab-instituciones" aria-controls="settings" role="tab"
                       data-toggle="tab">Antecedentes
                        Educativos</a>
                </li>
            </ul>
        </div>
        <div class="col-md-9 contenedor-formulario">
            <!-- Tab panes -->
            <!--<img src="{{ asset('bundles/images/logo-red-png.png') }}"/>-->
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane" id="intructivo">
                    <div>
                        <h4 class="text-center" style="background-color:#5cb85c;padding:7px;color:#fff"><b>HISTORIA DE
                                DESARROLLO Y ANTECEDENTES</b></h4>
                        <div id="contenedor-inicio">
                            <p style="font-size:18px;margin-top:20px" class="text-justify">
                                A continuación encontrará un documento que servirá para recopilar la Historia de
                                Desarrollo y Antecedentes de su hijo(a), cuya información es necesaria para poder llevar
                                a cabo un adecuado proceso de evaluación y de propuestas de tratamiento con respecto a
                                las características y necesidades que presenta. Es importante que para no interrumpir el
                                proceso, en el momento en que usted decida completar la Historia de Desarrollo y
                                Antecedentes de su hijo(a), tenga a la mano los documentos de tratamientos y
                                evaluaciones médicas, psicológicas y educativas previas; pues los mismos pueden ser
                                necesarios para algunas secciones.
                            </p>
                            <p style="font-size:18px;margin-top:20px" class="text-justify">
                                Le pedimos lea y responda detenidamente a cada una de las preguntas que aparecen en cada
                                sección, oprimiendo al finalizar el llenado el botón de <b>GUARDAR</b>, lo cual dará por
                                terminado el proceso de captura de los datos.
                            </p>
                            <p style="font-size:18px;margin-top:20px" class="text-justify">Muchas gracias</p>
                            <div class="row">
                                <div class="col-md-6">
                                    <!--<img style="margin-top:20px"src="{{ asset('bundles/images/logo-red-png.png') }}" width="200px"/>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane active" id="historiac">
                    <h4>Datos del niño(a)</h4>
                    <div class="row">
                        <div class="col-md-3">
                            <label>Nombre</label>
                            <div class="form-group">
                                {{ form_widget(form.paciente.nombre) }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label>Apellido paterno</label>
                            <div class="form-group">
                                {{ form_widget(form.paciente.apellidoPaterno) }}

                            </div>
                        </div>
                        <div class="col-md-3">
                            <label>Apellido Materno</label>
                            <div class="form-group">
                                {{ form_widget(form.paciente.apellidoMaterno) }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label>Fecha de nacimiento</label>
                            <div class="form-group">
                                {{ form_widget(form.paciente.fechaNacimiento) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-3">
                            <label>Sexo</label>
                            <div class="form-group">
                                {{ form_widget(form.hcDgnSexo) }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label>Edad</label>
                            <div class="form-group">
                                {{ form_widget(form.paciente.edad) }}
                            </div>
                        </div>

                        <div class="col-md-3">
                            <label>Ciudad</label>
                            <div class="form-group">
                                {{ form_widget(form.paciente.ciudad) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h4>Datos familiares</h4>
                        <table class="table">
                            <tr>
                                <td></td>
                                <td>Nombre</td>
                                <td>Edad</td>
                                <td>Teléfono celular</td>
                                <td>Teléfono casa</td>
                                <td>Correo electrónico</td>
                            </tr>
                            <tr>
                                <td>
                                    Madre
                                </td>
                                <td>
                                    {{ form_widget(form.DatosFamiliaresMadre.nombre) }}
                                </td>
                                <td>
                                    {{ form_widget(form.DatosFamiliaresMadre.edad) }}
                                </td>
                                <td>
                                    {{ form_widget(form.DatosFamiliaresMadre.telefonoCel) }}
                                </td>
                                <td>
                                    {{ form_widget(form.DatosFamiliaresMadre.telefonoDom) }}
                                </td>
                                <td>
                                    {{ form_widget(form.DatosFamiliaresMadre.email) }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Padre
                                </td>
                                <td>
                                    {{ form_widget(form.DatosFamiliaresPadre.nombre) }}
                                </td>
                                <td>
                                    {{ form_widget(form.DatosFamiliaresPadre.edad) }}
                                </td>
                                <td>
                                    {{ form_widget(form.DatosFamiliaresPadre.telefonoCel) }}
                                </td>
                                <td>
                                    {{ form_widget(form.DatosFamiliaresPadre.telefonoDom) }}
                                </td>
                                <td>
                                    {{ form_widget(form.DatosFamiliaresPadre.email) }}
                                </td>
                            </tr>
                        </table>
                    </div>
                    {% if is_granted('ROLE_MEDICO') %}
                        <div class="row" style="margin-bottom:20px">
                            <div class="col-sm-6">
                                <label>Profesional que atiende</label>
                                {{ form_widget(form.profesionalAtiende) }}
                            </div>
                            <div class="col-sm-4">
                                <label>¿Caso activo en tratamiento?</label>
                                <label for="">Si
                                    {{ form_widget(form.estadoCaso) }}
                                </label>
                                <label for="">No
                                    <input type="checkbox">
                                </label>

                            </div>
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-md-12">
                            <p><b>¿Cuál es el motivo por el qué ha asistido usted a nuestra institución?</b>
                                En caso de haber sido remitido por algún especialista, refiera su nombre y el motivo
                                por el cual lo
                                remite. Aclare además que espera obtener como resultado del presente proceso
                                evaluativo.
                            </p>
                            {{ form_widget(form.MotivoConsulta.motivoAsistencia) }}

                        </div>

                    </div>


                    <div class="clic btn btn-warning btn-sm pull-right" data-clic="motivo_consulta">Siguiente<span
                                class="glyphicon glyphicon-arrow-right"></span></div>
                </div>
                <div role="tabpanel" class="tab-pane" id="motivo_consulta">
                    <div>

                        <div class="row" style="margin-bottom: 20px">
                            <p style="margin-top:10px"><b>Quién lo remite</b></p>
                            <div class="pull-left">
                                <label>Pediatra</label>
                                {{ form_widget(form.hcRemPediatra) }}
                            </div>
                            <div class="pull-left">
                                <label>Neuropediatra</label>
                                {{ form_widget(form.hcRemNenopediatra) }}
                            </div>
                            <div class="pull-left">
                                <label>Psicólogo</label>
                                {{ form_widget(form.hcRemPsicologo) }}
                            </div>
                            <div class="pull-left">
                                <label>Psiquiatra</label>
                                {{ form_widget(form.hcRemPsiquiatra) }}
                            </div>
                            <div class="pull-left mr5">
                                <label>Colegio</label>
                                {{ form_widget(form.hcRemColegio) }}
                            </div>

                            <div class="pull-left">
                                <label>Terapia del Lenguaje</label>
                                {{ form_widget(form.hcRemTerapiaLenguaje) }}
                            </div>
                            <div class="pull-left">
                                <label>Otro</label>

                                {{ form_widget(form.hcRemOtro) }}
                            </div>
                            <div class="pull-left">
                                <label>B&uacute;squeda de la propia familia</label>

                                {{ form_widget(form.hcRemBusqueda) }}
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p><b>Resumen de antecedentes de Atención</b> (Aclare y describa si ha recibido o recibe
                                    los siguientes tratamientos:)</p>
                                <table class="table-bordered">
                                    <tr>
                                        <td></td>
                                        <td><b>¿Si?</b></td>
                                        <td><b>Describa</b></td>
                                    </tr>
                                    <tr>
                                        <td>Fármacos Neurológicos</td>
                                        <td>
                                            {{ form_widget(form.hcAdaFarmacosNeurologicos) }}
                                        </td>
                                        <td rowspan="11">
                                            {{ form_widget(form.descripcionAntecedentesAtencion) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Terapia de lenguaje</td>
                                        <td>
                                            {{ form_widget(form.hcAdaTerapiaLenguaje) }}
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Apoyo pedagógico</td>
                                        <td>
                                            {{ form_widget(form.hcAdaApoyoPedagogico) }}
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Abordaje Nutricional</td>
                                        <td>
                                            {{ form_widget(form.hcAdaAbordajeNutricional) }}
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Terapia Ocupacional</td>
                                        <td>
                                            {{ form_widget(form.hcAdaTerapiaOcupacional) }}
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Terapia asistida por animales</td>
                                        <td>
                                            {{ form_widget(form.hcAdaTerapiaAsistAnimales) }}
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Terapias Sensoriales</td>
                                        <td>
                                            {{ form_widget(form.hcAdaTerapiasSensoriales) }}
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Estimulación Temprana</td>
                                        <td>
                                            {{ form_widget(form.hcAdaEstimulacionTemprana) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Psicomotricidad</td>
                                        <td>
                                            {{ form_widget(form.hcAdaPsicomotricidad) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Apoyo Psicológico</td>
                                        <td>
                                            {{ form_widget(form.hcAdaApoyoPsicologico) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Otro</td>
                                        <td>
                                            {{ form_widget(form.hcAdaOtro) }}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <p style="margin-bottom:45px;"><b>Aclare si se han realizado los siguientes exámenes y
                                        describa brevemente
                                        los resultados.</b></p>

                                <table class="table-bordered">
                                    <tr>
                                        <td></td>
                                        <td><b>¿Si?</b></td>
                                        <td><b>Describa</b></td>
                                    </tr>
                                    <tr>
                                        <td>Electroencefalograma</td>
                                        <td>
                                            {{ form_widget(form.hcExaElectroencefalograma) }}

                                        </td>
                                        <td rowspan="9">
                                            {{ form_widget(form.descripcionAntecedentesAtencionExamenes) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>TAC</td>
                                        <td>
                                            {{ form_widget(form.hcExaTac) }}

                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Potenciales Evocados</td>
                                        <td>
                                            {{ form_widget(form.hcExaPotencialesEmocados) }}

                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Valoración Genética</td>
                                        <td>
                                            {{ form_widget(form.hcExaValoracionGenetica) }}

                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Tamiz Metabólico</td>
                                        <td>
                                            {{ form_widget(form.hcTamizMetabolico) }}

                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Resonancia Magnética</td>
                                        <td>
                                            {{ form_widget(form.hcExaResonanciaMagnetica) }}

                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Evaluación Neuropsicológica</td>
                                        <td>
                                            {{ form_widget(form.hsEvalNenopsicologica) }}

                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Evaluación del Lenguaje</td>
                                        <td>
                                            {{ form_widget(form.hcExaEvalLenguaje) }}

                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Otra</td>
                                        <td>
                                            {{ form_widget(form.hcExaOtra) }}

                                        </td>

                                    </tr>
                                </table>
                            </div>

                        </div>
                        <div class="clic btn btn-warning btn-sm pull-right" data-clic="embarazo">Siguiente<span
                                    class="glyphicon glyphicon-arrow-right"></span></div>

                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="embarazo">
                    <div>
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="bold">PARTO</h4>
                                <table>
                                    <tr>
                                        <td></td>
                                        <td>Mamá</td>
                                        <td>Papá</td>
                                    </tr>
                                    <tr>
                                        <td>Edad de los padres al momento del nacimiento:</td>
                                        <td>{{ form_widget(form.hcEmbEdadMama) }}</td>
                                        <td>{{ form_widget(form.hcEmbEdadPapa) }}</td>
                                        <td></td>
                                    </tr>
                                </table>
                                <h4>Durante el embarazo:</h4>
                                <table class="table-bordered">
                                    <tr>
                                        <td></td>
                                        <td>Si</td>
                                        <td></td>
                                        <td>Describa</td>
                                    </tr>
                                    {#
                                    <tr>
                                        <td>Tuvo abortos posteriores o anteriores:</td>
                                        <td>
                                            {{ form_widget(form.hcEmbAbortosMama) }}
                                        </td>
                                        <td>
                                        </td>
                                        <td rowspan="9">
                                            {{ form_widget(form.descripcionEmbarazo.embDescAbortoMama) }}</td>
                                    </tr>
                                    #}
                                    <tr>
                                        <td>Sufrió accidentes, caídas o golpes</td>
                                        <td>
                                            {{ form_widget(form.hcEmbAcgMama) }}
                                        </td>
                                        <td>
                                        </td>
                                        <td rowspan="9">
                                            {{ form_widget(form.descripcionEmbarazo) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Padeció alguna enfermedad</td>
                                        <td>
                                            {{ form_widget(form.hcEmbEdembMama) }}
                                        </td>
                                        <td>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Tuvo hábitos tóxicos (tabaco, alcohol, drogas)
                                        </td>
                                        <td>
                                            {{ form_widget(form.hcEmbHtoxMama) }}
                                        </td>
                                        <td>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Tuvo estrés, ansiedad o depresión.
                                        </td>
                                        <td>
                                            {{ form_widget(form.hcEmbEadMama) }}
                                        </td>
                                        <td>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Tuvo intoxicaciones o alergias alimenticias.
                                        </td>
                                        <td>
                                            {{ form_widget(form.hcEmbIaalimMama) }}
                                        </td>
                                        <td>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Tomó algún medicamento.
                                        </td>
                                        <td>
                                            {{ form_widget(form.hcEmbMedicamentosMama) }}
                                        </td>
                                        <td>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Su peso era adecuado.
                                        </td>
                                        <td>
                                            {{ form_widget(form.hcEmbPesoOkMama) }}
                                        </td>
                                        <td>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Le realizaron exámenes y revisiones periódicas.</td>
                                        <td>
                                            {{ form_widget(form.hcEmbExperiodMama) }}
                                        </td>
                                        <td>
                                        </td>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <h4 class="bold">PARTO Y POSTPARTO</h4>
                                <table class="table-striped">
                                    <tr>
                                        <td style="padding:10px">El parto fue</td>
                                        <td>
                                            <div class="pull-right">
                                                <label>Pos término</label>
                                                {{ form_widget(form.hcNacpPartoPostermino) }}
                                            </div>

                                            <div class="pull-right">
                                                <label>A t&eacute;rmino</label>
                                                {{ form_widget(form.hcNacpPartoTermino) }}
                                            </div>
                                            <div class="pull-right">
                                                <label>Prematuro</label>
                                                {{ form_widget(form.hcNacpPartoPretermino) }}
                                            </div>
                                            <div class="pull-right">
                                                <label>Cesárea</label>
                                                {{ form_widget(form.hcNacpPartoCesarea) }}
                                            </div>
                                            <div class="pull-right">
                                                <label>Natural</label>
                                                {{ form_widget(form.hcNacpPartoNatural) }}
                                            </div>

                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding:10px">
                                            El llanto del niño fue
                                        </td>
                                        <td>
                                            <div class="pull-right">
                                                <label>Espont&aacuteneo</label>
                                                {{ form_widget(form.hcNacpLlantoEspontaneo) }}
                                            </div>
                                            <div class="pull-right">
                                                <label>Provocado</label>
                                                {{ form_widget(form.hcNacpLlantoProvocado) }}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:10px">El peso del niño fue</td>
                                        <td>
                                            <div class="pull-right">
                                                <label>Normal</label>
                                                {{ form_widget(form.hcNacpPesoNormal) }}
                                            </div>
                                            <div class="pull-right">
                                                <label>Bajo peso</label>
                                                {{ form_widget(form.hcNacpPesoBajo) }}
                                            </div>
                                            <div class="pull-right">
                                                <label>Sobrepeso</label>
                                                {{ form_widget(form.hcNacpPesoSobre) }}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:10px; width:180px">Hubo Sufrimiento Fetal</td>
                                        <td>
                                            <div class="pull-left">
                                                <label>Si</label>
                                                {{ form_widget(form.hcNacpSufrimientoFetal) }}
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <table class="table-bordered table-condensed">
                                    <tr>
                                        <td><p class="bold">Marque si requirió</p></td>
                                        <td><p class="bold">Si</p></td>
                                        <td><p class="bold">Describa</p></td>
                                    </tr>
                                    <tr>
                                        <td>Hospitalización</td>
                                        <td>
                                            {{ form_widget(form.hcNacpHospitalizacion) }}
                                        </td>
                                        <td rowspan="8">
                                            {{ form_widget(form.nacimientoParto.nacDescSufrimientoFetal) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Asistencia Respiratoria</td>
                                        <td>
                                            {{ form_widget(form.hcNacpAsistenciaRespiratoria) }}
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Incubadora</td>
                                        <td>
                                            {{ form_widget(form.hcNacpIncubadora) }}
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Reanimación</td>
                                        <td>
                                            {{ form_widget(form.hcNacpReanimacion) }}
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Tratamiento farmacológico</td>
                                        <td>
                                            {{ form_widget(form.hcNacpTratFarmacologico) }}

                                        </td>

                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="clic btn btn-warning btn-sm pull-right" data-clic="características">Siguiente<span
                                    class="glyphicon glyphicon-arrow-right"></span></div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="características">
                    <div>
                        <div class="row text-justify">
                            <div class="col-md-6">
                                <h4>Características de Desarrollo</h4>
                                <label>¿Considera usted qué el primer año de vida de su hijo(a) ha transcurrido de una
                                    manera normal, como el
                                    de cualquier otro niño(a)?</label>
                                <div class="form-group">
                                    <label>Si</label>
                                    {{ form_widget(form.hcCdesTnpav) }}
                                    <label>No</label>
                                    <input type="checkbox" name="No"/>
                                </div>
                                <label>¿Por qué?</label>
                                <div class="form-group">
                                    {{ form_widget(form.caracteristicasDesarrollo.cdesDescTnpav) }}
                                </div>
                                <label>¿Qué situaciones o comportamientos de su hijo(a) llamaron su atención durante su
                                    primer año de
                                    vida?</label>
                                <div class="form-group">
                                    {{ form_widget(form.caracteristicasDesarrollo.cdesDescscdpav) }}
                                </div>
                                <label>¿Cu&aacuteles fueron las primeras manifestaciones de alteraciones en su hijo(a) y
                                    qué
                                    edad tenía él o ella
                                    cuando aparecieron?</label>
                                <div class="form-group">
                                    {{ form_widget(form.caracteristicasDesarrollo.cdesDescPmah) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                {# <label>¿Qué edad tenía su hijo(a) cuando usted comenzó a notar características o
                                comportamientos que
                                indicaban que algo no estaba bien en el o ella?</label>

                                {{ form_widget(form.hcCdesEdadCca) }}

                                <label>Describa</label>

                                <div class="form-group">
                                    {{ form_widget(form.caracteristicasDesarrollo.cdesDescEdadCca) }}
                                </div>
                                #}
                                <h4>Desarrollo sociocomunicativo y motor</h4>
                                <p class="well">Indique en la siguiente tabla la edad (en meses) en la cual su hijo(a)
                                    adquirió las siguientes conductas de desarrollo</p>
                                <table class="table-hover table-striped" id="desarrollo_sociocomunicativo">
                                    <tr>
                                        <td><b>Indicador</b></td>
                                        <td><b class="text-right">Edad en meses</b></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 385px;">Sonreír a su rostro cuando se le acerca</td>
                                        <td>
                                            {{ form_widget(form.hcDsmEdadSrca) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 385px;">Tomar objetos con sus manos</td>
                                        <td>
                                            {{ form_widget(form.hcDsmEdadTomarObj) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 385px;">Prestar atención a las acciones que sus padres
                                            realizan
                                        </td>
                                        <td>
                                            {{ form_widget(form.hcDsmEdadSPadres) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="width: 385px;">Manipular objetos y juguetes de manera funcional</td>
                                        <td>
                                            {{ form_widget(form.hcDsmEdadMobjfunc) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 385px;">Mantenerse sentado sin apoyo</td>
                                        <td>
                                            {{ form_widget(form.hcDsmEdadGatear) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 385px;">Responder a la voz de los padres, calmarse al
                                            escucharlos
                                        </td>
                                        <td>
                                            {{ form_widget(form.hcDsmEdadSoaint) }}

                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 385px;">Sostener el contacto visual y mantenerse atento al
                                            rostro del adulto
                                        </td>
                                        <td>
                                            {{ form_widget(form.hcDsmEdadPrimerasPalabras) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 385px;">Dar sus primeros pasos</td>
                                        <td>
                                            {{ form_widget(form.hcDsmEdadCaminar) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 385px;">Señalar objetos o situaciones para pedirlos o
                                            mostrarlos
                                        </td>
                                        <td>
                                            {{ form_widget(form.hcDsmEdadMasen) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 385px;">Decir sus primeras palabras</td>
                                        <td>
                                            {{ form_widget(form.hcDsmEdadJugar) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 385px;">Imitar acciones y expresiones del adulto</td>
                                        <td>
                                            {{ form_widget(form.hcDsmEdadResponder) }}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="clic btn btn-warning btn-sm pull-right" data-clic="estado_salud">Siguiente<span
                                    class="glyphicon glyphicon-arrow-right"></span></div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="estado_salud">
                    <div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>A continuaci&oacuten describa la situación y estado actual de salud de su
                                    hijo(a), aclarando los tratamientos que lleva a cabo y las necesidades especiales
                                    que de ello se derivan</label>
                                <div class="form-group">
                                    {{ form_widget(form.hcHesMedicamentos) }}
                                </div>
                            </div>
                            <div class="col-md-11">
                                <p class="well">
                                    En la siguiente tabla describa los principales problemas de salud que ha padecido su
                                    hijo(a) desde su nacimiento, aclarando la edad en que lo padeció y los tratamientos
                                    implementados
                                </p>
                                <!--TODO falta esto por hacer-->
                                <table class="table">
                                    <tr>
                                        <td>{{ form_widget(form.estado_salud_enfermedades.enfermedad1) }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ form_widget(form.estado_salud_enfermedades.enfermedad2) }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ form_widget(form.estado_salud_enfermedades.enfermedad3) }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ form_widget(form.estado_salud_enfermedades.enfermedad4) }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ form_widget(form.estado_salud_enfermedades.enfermedad5) }}</td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <div class="clic btn btn-warning btn-sm pull-right" data-clic="antecedentes">Siguiente<span
                                    class="glyphicon glyphicon-arrow-right"></span></div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="antecedentes">
                    <h4>Antecedentes Familiares</h4>
                    <div>
                        <div class="row">
                            <p class="text-justify well">
                                Señale si en la familia por parte de madre o de padre se ha presentado alguna de las
                                condiciones que aparecen en la lista. Si se trata específicamente de algún hermano, por
                                favor marque la columna correspondiente. Describa a la derecha los datos que considere
                                relevantes, por ejemplo, el tipo de parentesco con el niño
                            </p>
                            <div class="col-md-6">
                                <table class="table">
                                    <tr>
                                        <td><p class="bold">Enfermedades o condiciones del desarrollo</p></td>
                                        <td>Mamá</td>
                                        <td>Papá</td>
                                        <td>Hermano u otros</td>
                                    </tr>
                                    <tr>
                                        <td>Trastorno del espectro del autismo</td>
                                        <td>
                                            <div class="form-group">
                                                {{ form_widget(form.hcAfTeaMama) }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                {{ form_widget(form.hcAfTeaPapa) }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                {{ form_widget(form.hcAfTeaHermano) }}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Trastorno del lenguaje</td>
                                        <td>
                                            <div class="form-group">
                                                {{ form_widget(form.hcAfTdlMama) }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                {{ form_widget(form.hcAfTdlPapa) }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                {{ form_widget(form.hcAfTdlHermano) }}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Discapacidad intelectual</td>
                                        <td>
                                            <div class="form-group">
                                                {{ form_widget(form.hcAfDintlMama) }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                {{ form_widget(form.hcAfDintlPapa) }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                {{ form_widget(form.hcAfDintlHermano) }}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Enfermedad psiqui&aacutetrica</td>
                                        <td>
                                            <div class="form-group">
                                                {{ form_widget(form.hcAfEnfpsqMama) }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                {{ form_widget(form.hcAfEnfpsqPapa) }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                {{ form_widget(form.hcAfEnfpsqHermano) }}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Trastorno de aprendizaje</td>
                                        <td>
                                            <div class="form-group">
                                                {{ form_widget(form.hcAfTaprendMama) }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                {{ form_widget(form.hcAfTaprendPapa) }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                {{ form_widget(form.hcAfTaprenHermano) }}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Trastorno por déficit de atención</td>
                                        <td>
                                            <div class="form-group">
                                                {{ form_widget(form.hcAfTpddaMama) }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                {{ form_widget(form.hcAfTpddaPapa) }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                {{ form_widget(form.hcAfTpddaHermano) }}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Trastorno de la conducta y el comportamiento</td>
                                        <td>
                                            <div class="form-group">
                                                {{ form_widget(form.hcAfTccMama) }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                {{ form_widget(form.hcAfTccPapa) }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                {{ form_widget(form.hcAfTccHermano) }}
                                            </div>
                                        </td>
                                    </tr>
                                </table>

                            </div>
                            <div class="col-md-6">
                                <p class="bold">Describa</p>
                                {{ form_widget(form.descripcionAntecedentesFamiliares) }}
                            </div>
                        </div>
                        <div class="clic btn btn-warning btn-sm pull-right" data-clic="habitos">Siguiente<span
                                    class="glyphicon glyphicon-arrow-right"></span></div>
                    </div>

                </div>
                <div role="tabpanel" class="tab-pane" id="habitos">
                    <h4>Hábito y autonomía</h4>
                    <div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="well text-justify">
                                    Marque si nota usted alguna necesidad de apoyo u orientación en cuanto al
                                    funcionamiento de los siguientes hábitos en su hijo(a). Describa a la derecha las
                                    características observadas y las medidas y acciones que hasta el momento han
                                    implementado.
                                </div>
                                <table class="table table-striped" id="habitos_tabla">
                                    <tr>
                                        <td></td>
                                        <td style="width: 50px;">
                                            <p class="bold text-center" style="font-size:10px">Muestra necesidades o
                                                presenta algún problema</p>
                                        </td>
                                        <td><p class="bold">Descripci&oacuten</p></td>
                                    </tr>
                                    <tr>
                                        <td>Hábitos de Sueño</td>
                                        <td class="text-center">{{ form_widget(form.hcHabAutSueno) }}</td>
                                        <td>
                                            {{ form_widget(form.hcHabAutSuenoDescripcion) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Hábitos Alimenticios</td>
                                        <td class="text-center">{{ form_widget(form.hcHabAutAlimenticio) }}</td>
                                        <td>
                                            {{ form_widget(form.hcHabAutAlimenticioDesc) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Hábitos Higiénicos</td>
                                        <td class="text-center">{{ form_widget(form.hcHabAutHigienicos) }}</td>
                                        <td>
                                            {{ form_widget(form.hcHabAutHigienicosDesc) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Hábitos Inherentes al Control de Esfínteres</td>
                                        <td class="text-center">{{ form_widget(form.hcHabAutEsfinteres) }}</td>
                                        <td>
                                            {{ form_widget(form.hcHabAutEsfinteresDesc) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Hábitos de Autocuidado</td>
                                        <td class="text-center">{{ form_widget(form.hcHabAutAutocuidado) }}</td>
                                        <td>
                                            {{ form_widget(form.hcHabAutAutocuidadoDesc) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Hábitos de Vestido</td>
                                        <td class="text-center">{{ form_widget(form.hcHabAutVestido) }}</td>
                                        <td>
                                            {{ form_widget(form.hcHabAutVestidoDesc) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Hábitos de Juego y Rutinas de Actividad</td>
                                        <td class="text-center">{{ form_widget(form.hcHabAutJuegoRutinas) }}</td>
                                        <td>
                                            {{ form_widget(form.hcHabAutJuegoRutinasDesc) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Otros Hábitos</td>
                                        <td class="text-center">{{ form_widget(form.hcHabAutOtros) }}</td>
                                        <td>
                                            {{ form_widget(form.hcHabAutOtrosDesc) }}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="clic btn btn-warning btn-sm pull-right" data-clic="instituciones">Siguiente<span
                                    class="glyphicon glyphicon-arrow-right"></span></div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="instituciones">
                    <h4>Historia e instituciones educativas</h4>
                    <div>
                        <div class="row">
                            <div class="col-md-4">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <p class="bold">Aclare si su hijo(a)</p>
                                        </td>
                                        <td><p class="bold">Si</p></td>
                                    </tr>
                                    <tr>
                                        <td>¿Asiste a la escuela?</td>
                                        <td>{{ form_widget(form.hcAEasisteEscuela) }}</td>

                                    </tr>
                                    <tr>
                                        <td>¿Recibe o necesita algún tipo de apoyo curricular en el colegio?</td>
                                        <td>{{ form_widget(form.hcAEapoyoCurricular) }}</td>
                                    </tr>
                                    >
                                    </tr>
                                    <tr>
                                        <td>¿Se encuentra desfasado con respecto a su edad?</td>
                                        <td>{{ form_widget(form.hcAEdesfasadoEdad) }}</td>
                                    </tr>
                                    <tr>
                                        <td>¿Recibe apoyo psicopedagógico o de USAER en su colegio?</td>
                                        <td>{{ form_widget(form.hcAEapoyoPsicopedagogico) }}</td>
                                    </tr>
                                    <tr>
                                        <td>¿Asiste con maestra sombra o auxiliar educativa?</td>
                                        <td>{{ form_widget(form.hcAEmaestraSombra) }}</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 410px;">¿Participa de manera ordinaria en todas las
                                            actividades y materias escolares?
                                        </td>
                                        <td>{{ form_widget(form.hcAEparticipaManeraOrdinariaActividades) }}</td>
                                    </tr>
                                    <tr>
                                        <td>¿Se integra de manera funcional a su grupo de compañeros escolares?</td>
                                        <td>{{ form_widget(form.hcAEingregraGrupo) }}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-8">
                                <p class="bold text-justify">
                                    Narre sus experiencias en los centros educativos a los que ha llevado a su hijo(a)
                                    especificando las características de la atención que recibió, los beneficios
                                    obtenidos y las necesidades actuales que considera usted debemos tener en cuenta con
                                    respecto a su proceso de inclusión educativa.
                                </p>
                                {{ form_widget(form.hcAEDescripcionExperiencias) }}

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>Grado escolar</label>
                                <div class="form-group">
                                    {{ form_widget(form.paciente.gradoEscolar) }}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Nombre de la escuela</label>
                                    {{ form_widget(form.paciente.nombreEscuela) }}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Teléfono de la escuela</label>
                                    {{ form_widget(form.paciente.telefonoEscuela) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p class="well">
                                    Por favor anote en este espacio otra informacion que considere pertinente con
                                    respecto a los antecedentes de atencion de su hijo.
                                    Una vez lo haya hecho, no olvide apretar el bot&oacute;n de guardar para que su
                                    historia cl&iacute;nica sea enviada a nuestra base de datos
                                </p>
                                {{ form_widget(form.hcDescripcionFinal) }}
                            </div>
                            <div class="btn-group pull-right" style="margin-top:25px" role="group">
                                <button type="submit" class="btn btn-success">
                                    <i class="glyphicon glyphicon-save"></i>
                                    Guardar
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    {{ form_end(form) }}
    </div>
{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <style>
        input[type=checkbox] {
            margin-right: 15px;
        }

        #habitos_tabla textarea {
            width: 520px !important;
        }


    </style>

    <script>
        $(function () {
            $('input[type=text],input[type=number]').addClass('form-control');
            $('.clic').on('click', function () {
                var valor = $(this).data('clic');
                console.log(valor)
                $("#tab-" + valor + "").trigger('click');
            });
        });
    </script>

{% endblock %}
 