{% extends 'base.html.twig' %}

{% block body %}
    <h1>Historias Clínicas encontradas <b>{{ total }}</b></h1>
    <a href="{{ httpDirPDf }}" class="btn btn-success btn-xs">Descargar PDF</a>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Edad</th>
                <th>Fecha Registro</th>
                <th>Procedencia</th>
            </tr>
        </thead>
        <tbody>
        {% for historiasClinica in historiasClinicas %}
            <tr>
                <td>{{ historiasClinica.paciente.nombre }}</td>
                <td>{{ historiasClinica.paciente.apellidoPaterno }}</td>
                <td>{{ historiasClinica.paciente.apellidoMaterno }}</td>
                <td>{{ historiasClinica.paciente.edad }}</td>
                <td>{% if historiasClinica.fechaCreacion %}{{ historiasClinica.fechaCreacion|date('Y-m-d') }}{% endif %}</td>

                <td>{{ historiasClinica.paciente.ciudad }}</td>

                {#<td>{{ historiasClinica.especialista }}</td>#}

            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul>
        <li>
            <a class="btn btn-success" href="{{ path('historiaclinica_index') }}">Regresar al listado</a>
        </li>
    </ul>
{% endblock %}
