.contenedor-formulario,#contenedor-inicio {
    position: relative;
    overflow: hidden;
} 
#contenedor-inicio{
	height: 470px
}
.contenedor-formulario img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.03;
}
#contenedor-inicio #img-fondo{
    position: absolute;
    left: 0;
    top: 0;
    width: 70%;
    height: 400px;
    opacity: 0.03;
}
.border{
	border-bottom: solid 1px #efefef;
	padding-bottom: 10px;
}