{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listado Pacientes</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido paterno</th>
                <th>Apellido materno</th>
                <th>Fecha nacimiento</th>
                <th>Edad</th>
                <th>Ciudad</th>
                {# <th>Acciones</th> #}
            </tr>
        </thead>
        <tbody>
        {% for paciente in pacientes %}
            <tr>
                <td>{{ paciente.nombre }}</td>
                <td>{{ paciente.apellidoPaterno }}</td>
                <td>{{ paciente.apellidoMaterno }}</td>
                <td>{{ paciente.fechaNacimiento|date('d-m-Y') }}</td>
                <td>{{ paciente.edad }}</td>
                <td>{{ paciente.ciudad }}</td>
                {# <td>
                    <ul>                        
                        <li>
                            <a href="{{ path('paciente_edit', { 'id': paciente.id }) }}">editar</a>
                        </li>
                    </ul>
                </td> #}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <ul>
        <li>
            <a class="btn btn-success"href="{{ path('paciente_new') }}">Nuevo Paciente</a>
        </li>
    </ul> #}
{% endblock %}
