<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="{{ base_dir ~ asset('bundles/css/bootstrap_pdf.css') }}"></link>
<style>
    .table-bordered td {
        border: 1px solid #ddd;
    }

    .table-bordered {
        border: 1px solid #ddd;
    }

    .table-padding td {
        padding: 5px;
    }
</style>
<h4 class="text-center" style="background-color:#5cb85c;padding:7px;color:#fff"><b>FORMATO DE RECEPCI&oacute;N DE CASOS
        NUEVOS</b></h4>

<table class="table-bordered table table-padding">
    <tr>
        <td><b>Nombre:</b>{{ caso.nombre }} {{ caso.apellidoPaterno }} {{ caso.apellidoMaterno }}</td>
        <td><b>Edad:</b>{{ caso.edad }}</td>
        <td><b>F/N:</b>{{ caso.fechaNacimiento|date('Y-m-d'    ) }}</td>
        <td><b>Fecha Registro Caso:</b>{{ caso.fechaRegistroCaso|date('Y-m-d') }}</td>
    </tr>
    <tr>
        <td><b>Remitido por: </b>{{ caso.getNombreEspecialistaRemision() }}
            <br>
            {{ caso.getTipoEspecialistaRemision() }}
        </td>
        <td colspan="2"><b>Procedencia: </b>{{ caso.procedencia }}</td>
        <td><b>Sexo:</b>{{ caso.sexo }}</td>
    </tr>
    <tr>
        <td></td>
        <td colspan="2"></td>
        <td></td>
    </tr>
</table>
<p style="text-align:center; background-color:#b8cce4">Datos contacto de los padres</p>

<table class="table table-bordered">
    <tr>
        <td>Nombre</td>
        <td>Tel&eacute;fono</td>
        <td>Email</td>
    </tr>
    <tr>
        <td>
            {{ caso.nombreMama }}
        </td>
        <td>
            {{ caso.telefonoMama }}
        </td>
        <td>
            {{ caso.emailMama }}
        </td>
    </tr>
    <tr>
        <td>
            {{ caso.nombrePapa }}
        </td>
        <td>
            {{ caso.telefonoPapa }}
        </td>
        <td>
            {{ caso.emailPapa }}
        </td>
    </tr>
</table>

<div>
    <p style="text-align:center">Motivo de consulta</p>
    <p>
        {% autoescape false %}
        {{ caso.getMotivoConsulta() }}

    </p>
</div>
<div>
    <p style="text-align:center; background-color:#b8cce4">Antecedentes Evaluativos</p>
    <table class="table table-bordered">
        <tr>
            <td style="text-align:center">
                Neurol&oacute;gicos
            </td>
            <td style="text-align:center">
                Psicol&oacute;gicos
            </td>
            <td style="text-align:center">
                Otros
            </td>
        </tr>
        <tr>
            <td>{{ caso.antecedentesEvaluativos.neurologicos }}</td>
            <td>{{ caso.antecedentesEvaluativos.psicologicos }}</td>
            <td>{{ caso.antecedentesEvaluativos.otros }}</td>
        </tr>
    </table>
    <p style="text-align:center; background-color:#b8cce4">Antecedentes</p>
    <table class="table table-bordered">
        <tr>
            <td style="text-align:center">De salud</td>
            <td style="text-align:center">Educativos</td>
        </tr>
        <tr>
            <td>
                {{ caso.antecedentes.deSalud }}
            </td>
            <td>
                {{ caso.antecedentes.educativos }}
            </td>
        </tr>
    </table>
    <p style="text-align:center; background-color:#b8cce4">Observaciones Iniciales de Desarrollo</p>
    <table class="table table-bordered">
        <tr>
            <td>Uso de Materiales</td>
            <td>
                {{ caso.observacionesInicialesDesarrollo.usoMateriales }}
            </td>
        </tr>
        <tr>
            <td>Funciones de Comunicaci&oacute;n</td>
            <td>
                {{ caso.observacionesInicialesDesarrollo.funcionesComunicacion }}
            </td>
        </tr>
        <tr>
            <td>Lenguaje</td>
            <td>
                {{ caso.observacionesInicialesDesarrollo.lenguaje }}
            </td>
        </tr>
        <tr>
            <td>Adecuaci&oacute;n comportamental</td>
            <td>
                {{ caso.observacionesInicialesDesarrollo.adecuacionComportamental }}
            </td>
        </tr>
        <tr>
            <td>Relaci&oacute;n con la familia</td>
            <td>
                {{ caso.observacionesInicialesDesarrollo.relacionFamilia }}
            </td>
        </tr>
        <tr>
            <td>Habilidades cognitivas</td>
            <td>
                {{ caso.observacionesInicialesDesarrollo.habilidadesCognitivas }}
            </td>
        </tr>
        <tr>
            <td>Conductas de Autonomía</td>
            <td>
                {{ caso.observacionesInicialesDesarrollo.conductaAutonomia }}
            </td>
        </tr>
        <tr>
            <td>Aspectos Motores</td>
            <td>
                {{ caso.observacionesInicialesDesarrollo.aspectosMotores }}
            </td>
        </tr>
        <tr>
            <td>Otros</td>
            <td>
                {{ caso.observacionesInicialesDesarrollo.otros }}
            </td>
        </tr>
    </table>
    <p style="text-align:center; background-color:#b8cce4">Propuesta de Atenci&oacute;n</p>
    {{ caso.propuestaAtencion }}

    <p style="text-align:center; background-color:#b8cce4;margin-top:15px">Protocolo de Evaluaci&oacute;n Propuesto</p>
    <table class="table table-bordered">
        <tr>
            <td>Formato Atención Temprana</td>
            <td>
                {% if caso.protocoloEvaluacion.formatoAtencionTemprana %}
                    Si
                {% else %}
                    -
                {% endif %}
            </td>

            <td>Comunicación y Lenguaje</td>
            <td>
                {% if caso.protocoloEvaluacion.comunicacionLenguaje %}
                    Si
                {% else %}
                    -
                {% endif %}
            </td>

            <td>Motricidad</td>
            <td>
                {% if caso.protocoloEvaluacion.motricidad %}
                    Si
                {% else %}
                    -
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Evaluación del Desarrollo</td>
            <td>
                {% if caso.protocoloEvaluacion.evaluacionDesarrollo %}
                    Si
                {% else %}
                    -
                {% endif %}
            </td>

            <td>Inteligencia</td>
            <td>
                {% if caso.protocoloEvaluacion.inteligencia %}
                    Si
                {% else %}
                    -
                {% endif %}
            </td>

            <td>Pedagogía y académicas</td>
            <td>
                {% if caso.protocoloEvaluacion.pedagogiaAcademica %}
                    Si
                {% else %}
                    -
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Neuropsicológica</td>
            <td>
                {% if caso.protocoloEvaluacion.neuropsicologia %}
                    Si
                {% else %}
                    -
                {% endif %}
            </td>

            <td>Habilidades Sociales</td>
            <td>
                {% if caso.protocoloEvaluacion.habilidadesSociales %}
                    Si
                {% else %}
                    -
                {% endif %}
            </td>

            <td>Autonomía</td>
            <td>
                {% if caso.protocoloEvaluacion.autonomia %}
                    Si
                {% else %}
                    -
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Protocolo TEA</td>
            <td>
                {% if caso.protocoloEvaluacion.protocolaTea %}
                    Si
                {% else %}
                    -
                {% endif %}
            </td>
            <td>Protocolo TDA</td>
            <td>
                {% if caso.protocoloEvaluacion.protocoloTda %}
                    Si
                {% else %}
                    -
                {% endif %}
            </td>
            <td>Protocolo Aprendizaje</td>
            <td>
                {% if caso.protocoloEvaluacion.protocoloAprendizaje %}
                    Si
                {% else %}
                    -
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Observación Escolar</td>
            <td>
                {% if caso.protocoloEvaluacion.observacionEscolar %}
                    Si
                {% else %}
                    -
                {% endif %}
            </td>
            <td>Emocionales</td>
            <td>
                {% if caso.protocoloEvaluacion.emocionales %}
                    Si
                {% else %}
                    -
                {% endif %}
            </td>
            <td>Sensoriales</td>
            <td>
                {% if caso.protocoloEvaluacion.sensoriales %}
                    Si
                {% else %}
                    -
                {% endif %}
            </td>
        </tr>
    </table>

    {% if caso.hipotesisDiagnostica %}
      <p style="text-align:center; background-color:#b8cce4;margin-top:15px">Hipótesis diagnóstica</p>
        <table class="table">
            {% if caso.hipotesisDiagnostica.alteracionesSocioComunicativas %}
                <tr>
                    <td>
                        Alteraciones Socio Comunicativas
                    </td>
                    <td>
                        Si
                    </td>
                </tr>
            {% endif %}
            {% if caso.hipotesisDiagnostica.difAprendAcademico %}
                <tr>
                    <td>
                        Dificultades del aprendizaje académico
                    </td>
                    <td>
                        Si
                    </td>
                </tr>
            {% endif %}
            {% if caso.hipotesisDiagnostica.deficitAtencional %}
                <tr>
                    <td>
                        Déficit atencional
                    </td>
                    <td>
                        Si
                    </td>
                </tr>
            {% endif %}
            {% if caso.hipotesisDiagnostica.retardoGlobalDesarrollo %}
                <tr>
                    <td>
                        Retardo global del desarrollo
                    </td>
                    <td>
                        Si
                    </td>
                </tr>
            {% endif %}
            {% if caso.hipotesisDiagnostica.difDesarrolloLenguaje %}
                <tr>
                    <td>
                        Dificultades en el desarrollo del lenguaje
                    </td>
                    <td>
                        Si
                    </td>
                </tr>
            {% endif %}
            {% if  caso.hipotesisDiagnostica.difMotoras %}
                <tr>
                    <td>
                        Dificultades motoras
                    </td>
                    <td>
                        Si
                    </td>
                </tr>
            {% endif %}
            {% if caso.hipotesisDiagnostica.alteracionesComportamiento %}
                <tr>
                    <td>
                        Alteraciones del comportamiento
                    </td>
                    <td>
                        Si
                    </td>
                </tr>
            {% endif %}
            {% if caso.hipotesisDiagnostica.necesidadApoyoEmocional %}
                <tr>
                    <td>
                        Necesidades de apoyo emocional
                    </td>
                    <td>
                        Si
                    </td>
                </tr>
            {% endif %}
            {% if  caso.hipotesisDiagnostica.otra %}
                <tr>
                    <td>
                        Otra
                    </td>
                    <td>
                        Si
                    </td>
                </tr>
            {% endif %}
        </table>
    {% endif %}
    {% if caso.servicioAtencionSugerido  %}
        <p style="text-align:center; background-color:#b8cce4;margin-top:15px">Servicios de antención sugeridos</p>
        <table class="table">
            {% if  caso.servicioAtencionSugerido.atencionTemprana %}
                <tr>
                    <td>
                        Atención temprana
                    </td>
                    <td>
                        Si
                    </td>
                </tr>
            {% endif %}
            {% if  caso.servicioAtencionSugerido.intervNeuroPsicologica %}
                <tr>
                    <td>
                        Intervención neuropsicológica
                    </td>
                    <td>
                        Si
                    </td>
                </tr>
            {% endif %}
            {% if  caso.servicioAtencionSugerido.desarrolloHabilSociales %}
                <tr>
                    <td>
                        Desarrollo de habilidades sociales
                    </td>
                    <td>
                        Si
                    </td>
                </tr>
            {% endif %}
            {% if  caso.servicioAtencionSugerido.transicionVidaAdulta %}
                <tr>
                    <td>
                        Transición adolecencia y vida adulta
                    </td>
                    <td>
                        Si
                    </td>
                </tr>
            {% endif %}
            {% if  caso.servicioAtencionSugerido.apoyoFamiliar %}
                <tr>
                    <td>
                        Apoyo familiar
                    </td>
                    <td>
                        Si
                    </td>
                </tr>
            {% endif %}
            {% if caso.servicioAtencionSugerido.otro  %}
                <tr>
                    <td>
                        Otro
                    </td>
                    <td>
                        Si
                    </td>
                </tr>
            {% endif %}
        </table>
    {% endif %}
    {% if caso.escenarioAtencionSugeridos  %}
        <p style="font-weight:bold">Escenarios de antención sugeridos</p>

        <table class="table">
            {% if  caso.escenarioAtencionSugeridos.consultaTerap %}
                <tr>
                    <td>
                        Consulta terapéutica
                    </td>
                    <td>
                        Si

                    </td>
                </tr>
            {% endif %}
            {% if caso.escenarioAtencionSugeridos.sistemaAmbulatorio  %}
                <tr>
                    <td>
                        Sistema ambulatorio
                    </td>
                    <td>
                        Si
                    </td>
                </tr>
            {% endif %}
            {% if caso.escenarioAtencionSugeridos.ambienteEducativo  %}
                <tr>
                    <td>
                        Ambiente educativo
                    </td>
                    <td>
                        Si
                    </td>
                </tr>
            {% endif %}
            {% if caso.escenarioAtencionSugeridos.ambitoSocial %}
                <tr>
                    <td>
                        Ambito social
                    </td>
                    <td>
                        Si
                    </td>
                </tr>
            {% endif %}
            {% if caso.escenarioAtencionSugeridos.otro %}
                <tr>
                    <td>
                        Otro
                    </td>
                    <td>
                        Si
                    </td>
                </tr>
            {% endif %}

        </table>

    {% endif %}

    
    <p style="font-weight:bold">Especificaciones Evaluativas</p>
    {{ caso.especificacionesEvaluativas }}
    <p style="font-weight:bold;margin-top:15px">Derivaciones e Interconsultas:</p>
    {{ caso.derivacionesInterconsultas }}
    <p style="font-weight:bold;margin-top:15px">Comentarios y Recomendaciones Finales:</p>
    {{ caso.comentariosFinales }}
    <p style="font-weight:bold;margin-top:15px">Especialista:</p>
    {{ caso.especialista }}
    {% endautoescape %}
    <div style="text-align:center;margin-top:20px;font-size:12px;font-weight:bold">
        La consulta de valoración NO es una Consulta de Diagnóstico, sino un documento para esclarecer el motivo de
        consulta por el cual asiste el niño a nuestros servicios y las propuestas de atención a poner en práctica para
        dar respuesta a la solicitud realizada por los padres o el colegio.
    </div>

</div>
