<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<link rel="stylesheet" href="{{ base_dir ~ asset('bundles/css/bootstrap_pdf.css') }}"></link>
<div class="container">
    <div class="row contenedor-formulario">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane" id="intructivo">
                <div>
                    <h4 class="text-center" style="background-color:#5cb85c;padding:7px;color:#fff"><b>HISTORIA DE
                            DESARROLLO Y ANTECEDENTES</b></h4>
                </div>
                <img src="{{ base_dir ~ asset('bundles/images/logo-red-png.png') }}" width="100px">
            </div>
            <div role="tabpanel" class="tab-pane active" id="historiac">
                <h4>Datos del ni&ntilde;o(a) </h4>
                <table class="table">
                    <tr>
                        <td><b>Nombre</b></td>
                        <td><b>Apellido Paterno</b></td>
                        <td><b>Apellido Materno</b></td>
                        <td><b>Fecha Nacimiento</b></td>
                    </tr>
                    <tr>
                        <td>
                            {{ hic.paciente.nombre }}

                        </td>
                        <td>
                            {{ hic.paciente.apellidoPaterno }}
                        </td>
                        <td>
                            {{ hic.paciente.apellidoMaterno }}
                        </td>
                        <td>
                            {{ hic.paciente.fechaNacimiento|date('Y-m-d') }}
                        </td>
                    </tr>
                </table>
                {% autoescape false %}

                <table class="table">
                    <tr>
                        <td><b>Sexo</b></td>
                        <td><b>Edad</b></td>
                        <td><b>Ciudad</b></td>
                    </tr>
                    <tr>
                        <td>
                            {{ hic.hcDgnSexo }}
                        </td>
                        <td>
                            {{ hic.paciente.edad }}
                        </td>
                        <td>
                            {{ hic.paciente.ciudad }}
                        </td>
                    </tr>
                </table>
                <h4>Datos familiares</h4>
                <table class="table">
                    <tr>
                        <td></td>
                        <td>Nombre</td>
                        <td>Edad</td>
                        <td>Tel&eacute;fono celular</td>
                        <td>Tel&eacute;fono casa</td>
                        <td>Correo electr&oacute;nico</td>
                    </tr>
                    <tr>
                        <td>
                            Madre
                        </td>
                        <td>
                            {{ hic.DatosFamiliaresMadre.nombre }}
                        </td>
                        <td>
                            {{ hic.DatosFamiliaresMadre.edad }}
                        </td>
                        <td>
                            {{ hic.DatosFamiliaresMadre.telefonoCel }}
                        </td>
                        <td>
                            {{ hic.DatosFamiliaresMadre.telefonoDom }}
                        </td>
                        <td>
                            {{ hic.DatosFamiliaresMadre.email }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Padre
                        </td>
                        <td>
                            {{ hic.DatosFamiliaresPadre.nombre }}
                        </td>
                        <td>
                            {{ hic.DatosFamiliaresPadre.edad }}
                        </td>
                        <td>
                            {{ hic.DatosFamiliaresPadre.telefonoCel }}
                        </td>
                        <td>
                            {{ hic.DatosFamiliaresPadre.telefonoDom }}
                        </td>
                        <td>
                            {{ hic.DatosFamiliaresPadre.email }}
                        </td>
                    </tr>
                </table>
                <div class="col-md-12">
                    <p><b>Motivo de asistencia a consulta</b></p>
                    {{ hic.MotivoConsulta.motivoAsistencia }}

                </div>

            </div>
            <br>
            <div role="tabpanel" class="tab-pane" id="motivo_consulta">
                <div>

                    <div style="margin-bottom: 20px">
                        <p style="margin-top:10px"><b>Remitido por: </b></p>
                        {% if hic.hcRemPediatra %}
                            <div class="pull-left" style="margin-right:15px">
                                <label>Pediatra: </label>
                                Si
                            </div>
                        {% endif %}

                        {% if hic.hcRemNenopediatra %}
                            <div class="pull-left" style="margin-right:15px">
                                <label>Neuropediatra: </label>
                                Si
                            </div>
                        {% endif %}
                        {% if hic.hcRemPsicologo %}
                            <div class="pull-left" style="margin-right:15px">
                                <label>Psic&oacute;logo: </label>
                                Si
                            </div>
                        {% endif %}
                        {% if hic.hcRemPsiquiatra %}
                            <div class="pull-left" style="margin-right:15px">
                                <label>Psiquiatra: </label>
                                Si
                            </div>
                        {% endif %}
                        {% if hic.hcRemColegio %}
                            <div class="pull-left" style="margin-right:15px">
                                <label>Colegio: </label>
                                Si
                            </div>
                        {% endif %}

                        {% if hic.hcRemTerapiaLenguaje %}
                            <div class="pull-left" style="margin-right:15px">
                                <label>Terapia del Lenguaje: </label>
                                Si
                            </div>
                        {% endif %}

                        {% if hic.hcRemOtro %}
                            <div class="pull-left" style="margin-right:15px">
                                <label>Otro: </label>
                                {{ hic.hcRemOtro }}
                            </div>
                        {% endif %}

                        {% if hic.hcRemBusqueda %}
                            <div class="pull-left" style="margin-right:15px">
                                <label>Busqueda de la propia familia: </label>
                                Si
                            </div>
                        {% endif %}

                        <div class="clearfix"></div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <p><b>Resumen de antecedentes de Atenci&oacute;n</b></p>
                            <table class="table">
                                <tr>
                                    <td></td>
                                    <td><b>Si/No</b></td>
                                    <td><b>Descripci&oacute;n</b></td>
                                </tr>
                                <tr>
                                    <td>F&aacute;rmacos Neurol&oacute;gicos</td>
                                    <td>
                                        {% if hic.hcAdaFarmacosNeurologicos %}
                                            Si
                                        {% else %}
                                            No
                                        {% endif %}
                                    </td>
                                    <td rowspan="11">
                                        {% if hic.descripcionAntecedentesAtencion %}
                                            {{ hic.descripcionAntecedentesAtencion }}
                                        {% endif %}
                                    </td>
                                </tr>

                                <tr>
                                    <td>Terapia de lenguaje</td>
                                    <td>
                                        {% if hic.hcAdaTerapiaLenguaje %}
                                            Si
                                        {% else %}
                                            No
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Apoyo pedag&oacute;gico</td>
                                    <td>
                                        {% if hic.hcAdaApoyoPedagogico %}
                                            Si
                                        {% else %}
                                            No
                                        {% endif %}

                                    </td>

                                </tr>
                                <tr>
                                    <td>Abordaje Nutricional</td>
                                    <td>
                                        {% if hic.hcAdaAbordajeNutricional %}
                                            Si
                                        {% else %}
                                            No
                                        {% endif %}
                                    </td>

                                </tr>
                                <tr>
                                    <td>Terapia Ocupacional</td>
                                    <td>
                                        {% if hic.hcAdaTerapiaOcupacional %}
                                            Si
                                        {% else %}
                                            No
                                        {% endif %}
                                    </td>

                                </tr>
                                <tr>
                                    <td>Terapia asistida por animales</td>
                                    <td>
                                        {% if hic.hcAdaTerapiaAsistAnimales %}
                                            Si
                                        {% else %}
                                            No
                                        {% endif %}
                                    </td>

                                </tr>
                                <tr>
                                    <td>Terapias Sensoriales</td>
                                    <td>
                                        {% if hic.hcAdaTerapiasSensoriales %}
                                            Si
                                        {% else %}
                                            No
                                        {% endif %}
                                    </td>

                                </tr>
                                <tr>
                                    <td>Estimulaci&oacute;n Temprana</td>
                                    <td>
                                        {% if hic.hcAdaEstimulacionTemprana %}
                                            Si
                                        {% else %}
                                            No
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Psicomotricidad</td>
                                    <td>
                                        {% if hic.hcAdaPsicomotricidad %}
                                            Si
                                        {% else %}
                                            No
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Apoyo Psicol&oacute;gico</td>
                                    <td>
                                        {% if hic.hcAdaApoyoPsicologico %}
                                            Si
                                        {% else %}
                                            No
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Otro</td>
                                    <td>
                                        {% if hic.hcAdaOtro %}
                                            Si
                                        {% else %}
                                            No
                                        {% endif %}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <div class="col-md-6">
                            <p style="margin-bottom:45px;"><b>Ex&aacute;menes y
                                    los resultados realizados .</b></p>

                            <table class="table">
                                <tr>
                                    <td></td>
                                    <td><b>Si/No</b></td>
                                    <td><b>Descripci&oacute;n</b></td>
                                </tr>
                                <tr>
                                    <td>Electroencefalograma</td>
                                    <td>
                                        {% if hic.hcExaElectroencefalograma %}
                                            Si
                                        {% else %}
                                            No
                                        {% endif %}
                                    </td>
                                    <td rowspan="9">
                                        {% if hic.descripcionAntecedentesAtencionExamenes %}
                                            {{ hic.descripcionAntecedentesAtencionExamenes }}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>TAC</td>
                                    <td>
                                        {% if hic.hcExaTac %}
                                            Si
                                        {% else %}
                                            No
                                        {% endif %}
                                    </td>

                                </tr>
                                <tr>
                                    <td>Potenciales Evocados</td>
                                    <td>
                                        {% if hic.hcExaPotencialesEmocados %}
                                            Si
                                        {% else %}
                                            No
                                        {% endif %}
                                    </td>

                                </tr>
                                <tr>
                                    <td>Valoraci&oacute;n Gen&eacute;tica</td>
                                    <td>
                                        {% if hic.hcExaValoracionGenetica %}
                                            Si
                                        {% else %}
                                            No
                                        {% endif %}
                                    </td>

                                </tr>
                                <tr>
                                    <td>Tamiz Metab&oacute;lico</td>
                                    <td>
                                        {% if hic.hcTamizMetabolico %}
                                            Si
                                        {% else %}
                                            No
                                        {% endif %}
                                    </td>

                                </tr>
                                <tr>
                                    <td>Resonancia Magn&eacute;tica</td>
                                    <td>
                                        {% if hic.hcExaResonanciaMagnetica %}
                                            Si
                                        {% else %}
                                            No
                                        {% endif %}
                                    </td>

                                </tr>
                                <tr>
                                    <td>Evaluaci&oacute;n Neuropsicol&oacute;gica</td>
                                    <td>
                                        {% if hic.hsEvalNenopsicologica %}
                                            Si
                                        {% else %}
                                            No
                                        {% endif %}
                                    </td>

                                </tr>
                                <tr>
                                    <td>Evaluaci&oacute;n del Lenguaje</td>
                                    <td>
                                        {% if hic.hcExaEvalLenguaje %}
                                            Si
                                        {% else %}
                                            No
                                        {% endif %}
                                    </td>

                                </tr>
                                <tr>
                                    <td>Otra</td>
                                    <td>
                                        {% if hic.hcExaOtra %}
                                            Si
                                        {% else %}
                                            No
                                        {% endif %}
                                    </td>

                                </tr>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="embarazo">
                <div>
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="bold">PARTO</h4>
                            <table>
                                <tr>
                                    <td></td>
                                    <td style="padding:10px">Mam&aacute;</td>
                                    <td style="padding:10px">Pap&aacute;</td>
                                </tr>
                                <tr>
                                    <td>Edad de los padres al momento del nacimiento:</td>
                                    <td>{{ hic.hcEmbEdadMama }}</td>
                                    <td>{{ hic.hcEmbEdadPapa }}</td>
                                    <td></td>
                                </tr>
                            </table>
                            <h4>Durante el embarazo:</h4>
                            {{ hic.descripcionEmbarazo }}

                            <table class="table">
                                {% if hic.descripcionEmbarazo %}
                                    <tr>
                                        <td></td>
                                        <td>Si</td>
                                        <td></td>

                                    </tr>
                                {% else %}
                                    <p style="font-size:10px">Si no aparecen datos en esta secci&oacute;n, es debido a
                                        que no se marc&oacute; una descripci&oacute; o ning&uacute;n otro dato por el
                                        paciente.</p>
                                {% endif %}

                                {#
                                <tr>
                                    <td>Tuvo abortos posteriores o anteriores:</td>
                                    <td>
                                        {{ hic.hcEmbAbortosMama  }}
                                    </td>
                                    <td>
                                    </td>
                                    <td rowspan="9">
                                        {{ hic.descripcionEmbarazo.embDescAbortoMama  }}</td>
                                </tr>
                                #}
                                {% if hic.hcEmbAcgMama %}
                                    <tr>
                                        <td>Sufri&oacute; accidentes, ca&iacute;das o golpes</td>
                                        <td>
                                            Si
                                        </td>
                                    </tr>
                                {% endif %}

                                {% if hic.hcEmbEdembMama %}
                                    <tr>
                                        <td>Padeci&oacute; alguna enfermedad</td>
                                        <td>
                                            Si
                                        </td>
                                    </tr>
                                {% endif %}

                                {% if hic.hcEmbHtoxMama %}
                                    <tr>
                                        <td>Tuvo h&aacute;bitos t&oacute;xicos (tabaco, alcohol, drogas
                                        </td>
                                        <td>
                                            Si
                                        </td>

                                    </tr>
                                {% endif %}

                                {% if hic.hcEmbEadMama %}
                                    <tr>
                                        <td>Tuvo estr&eacute;s, ansiedad o depresi&oacute;n.
                                        </td>
                                        <td>
                                            Si
                                        </td>
                                    </tr>
                                {% endif %}

                                {% if hic.hcEmbIaalimMama %}
                                    <tr>
                                        <td>Tuvo intoxicaciones o alergias alimenticias.
                                        </td>
                                        <td>
                                            Si
                                        </td>

                                    </tr>
                                {% endif %}

                                {% if hic.hcEmbMedicamentosMama %}
                                    <tr>
                                        <td>Tom&oacute; alg&uacuten medicamento.
                                        </td>
                                        <td>
                                            Si
                                        </td>
                                    </tr>
                                {% endif %}

                                {% if hic.hcEmbPesoOkMama %}
                                    <tr>
                                        <td>Su peso era adecuado.
                                        </td>
                                        <td>
                                            Si
                                        </td>
                                    </tr>
                                {% endif %}

                                {% if hic.hcEmbExperiodMama %}
                                    <tr>
                                        <td>Le realizaron ex&aacute;menes y revisiones peri&oacute;dicas.</td>
                                        <td>
                                            Si
                                        </td>
                                    </tr>
                                {% endif %}
                            </table>
                        </div>
                        <br>
                        <div class="col-md-6">
                            <h4 class="bold">PARTO Y POSTPARTO</h4>
                            <table class="table-striped">
                                <tr>
                                    <td style="padding:10px">El parto fue:</td>
                                    <td>
                                        {% if hic.hcNacpPartoPostermino %}
                                            <div class="pull-right">
                                                <label>Pos t&eacute;rmino: </label>
                                                Si
                                            </div>
                                        {% endif %}

                                        {% if hic.hcNacpPartoTermino %}
                                            <div class="pull-right">
                                                <label>A termino: </label>
                                                Si
                                            </div>
                                        {% endif %}

                                        {% if hic.hcNacpPartoPretermino %}
                                            <div class="pull-right">
                                                <label>Prematuro</label>
                                                {{ hic.hcNacpPartoPretermino }}
                                            </div>
                                        {% endif %}

                                        {% if hic.hcNacpPartoCesarea %}
                                            <div class="pull-right">
                                                <label>Ces&aacute;rea: </label>
                                                Si
                                            </div>
                                        {% endif %}

                                        {% if hic.hcNacpPartoNatural %}
                                            <div class="pull-right">
                                                <label>Natural:</label>
                                                Si
                                            </div>
                                        {% endif %}

                                    </td>
                                </tr>

                                <tr>
                                    <td style="padding:10px">
                                        El llanto del ni&ntilde;o fue
                                    </td>
                                    <td>

                                        {% if hic.hcNacpLlantoEspontaneo %}
                                            <div class="pull-right">
                                                <label>Espont&aacute;neo: </label>
                                                Si
                                            </div>
                                        {% endif %}

                                        {% if hic.hcNacpLlantoProvocado %}
                                            <div class="pull-right">
                                                <label>Provocado: </label>
                                                Si
                                            </div>
                                        {% endif %}

                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:10px">El peso del ni&ntilde;o fue</td>
                                    <td>

                                        {% if hic.hcNacpPesoNormal %}
                                            <div class="pull-right">
                                                <label>Normal</label>
                                                Si
                                            </div>
                                        {% endif %}

                                        {% if hic.hcNacpPesoBajo %}
                                            <div class="pull-right">
                                                <label>Bajo peso</label>
                                                Si
                                            </div>
                                        {% endif %}

                                        {% if hic.hcNacpPesoSobre %}
                                            <div class="pull-right">
                                                <label>Sobrepeso</label>
                                                Si
                                            </div>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% if hic.hcNacpSufrimientoFetal %}

                                    <tr>
                                        <td style="padding:10px; width:180px">Hubo Sufrimiento Fetal</td>
                                        <td>
                                            <div class="pull-left">
                                                <label>Si</label>
                                            </div>
                                        </td>
                                    </tr>
                                {% endif %}
                            </table>
                            <br>

                            <label>El ni&ntilde;o requiri&oacute;</label>

                            <table class="">
                                {% if hic.hcNacpHospitalizacion %}
                                    <tr>
                                        <td style="padding:10px">Hospitalizaci&oacute;n</td>
                                        <td>
                                            Si
                                        </td>
                                    </tr>
                                {% endif %}

                                {% if hic.hcNacpAsistenciaRespiratoria %}
                                    <tr>
                                        <td style="padding:10px">Asistencia Respiratoria</td>
                                        <td>
                                            Si
                                        </td>
                                    </tr>
                                {% endif %}

                                {% if hic.hcNacpIncubadora %}
                                    <tr>
                                        <td style="padding:10px">Incubadora</td>
                                        <td>
                                            Si
                                        </td>

                                    </tr>
                                {% endif %}

                                {% if hic.hcNacpReanimacion %}
                                    <tr>
                                        <td style="padding:10px">Reanimaci&oacute;n</td>
                                        <td>
                                            Si
                                        </td>
                                    </tr>
                                {% endif %}

                                {% if hic.hcNacpTratFarmacologico %}
                                    <tr>
                                    <td style="padding:10px">Tratamiento farmacol&oacute;gico</td>
                                    <td>
                                        {{ hic.hcNacpTratFarmacologico }}
                                    </td>

                                    </tr>
                                {% endif %}

                            </table>
                            {% if hic.nacimientoParto.nacDescSufrimientoFetal %}
                                <p>
                                    <label>Descripci&oacute;n: </label>
                                    {{ hic.nacimientoParto.nacDescSufrimientoFetal }}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="caracter&iacute;sticas">
                <div>
                    <div class="row text-justify">
                        <div class="col-md-6">
                            <h4>Caracter&iacute;sticas de Desarrollo</h4>
                            {% if hic.hcCdesTnpav %}
                                <label> &iquest;Primer a&ntilde;o de vida normal?</label>
                                <div class="form-group">
                                    <label>Si</label>
                                </div>
                                <label>&iquest;Por qu&eacute;?</label>
                                <div class="form-group">
                                    {{ hic.caracteristicasDesarrollo.cdesDescTnpav }}
                                </div>
                            {% endif %}
                            <br>
                            <br>
                            {% if  hic.caracteristicasDesarrollo.cdesDescscdpav %}
                                <label>
                                    Situaciones y comportamientos que llamaron la atenci&oacute;n durante su
                                    primer a&ntilde;o de vida</label>
                                <div class="form-group">
                                    {{ hic.caracteristicasDesarrollo.cdesDescscdpav }}
                                </div>
                            {% endif %}

                            {% if hic.caracteristicasDesarrollo.cdesDescPmah %}
                                <label>Primeras manifestaciones de alteraciones y qu&eacute;
                                    edad ten&iacute;a &eacute;l o ella cuando aparecieron</label>
                                <div class="form-group">
                                    {{ hic.caracteristicasDesarrollo.cdesDescPmah }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-md-6">

                            <h4>Desarrollo sociocomunicativo y motor</h4>
                            <p class="well">Tabla de la edad (en meses en la cual ni&ntilde;o
                                adquiri&oacute; las conductas de desarrollo</p>
                            <table class="table-hover table-striped" id="desarrollo_sociocomunicativo">
                                <tr>
                                    <td><b>Indicador</b></td>
                                    <td><b class="text-right">Edad en meses</b></td>
                                </tr>
                                <tr>
                                    <td style="width: 385px;">Sonre&iacute;r a su rostro cuando se le acerca</td>
                                    <td>
                                        {{ hic.hcDsmEdadSrca }}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 385px;">Tomar objetos con sus manos</td>
                                    <td>
                                        {{ hic.hcDsmEdadTomarObj }}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 385px;">Prestar atenci&oacute;n a las acciones que sus padres
                                        realizan
                                    </td>
                                    <td>
                                        {{ hic.hcDsmEdadSPadres }}
                                    </td>
                                </tr>

                                <tr>
                                    <td style="width: 385px;">Manipular objetos y juguetes de manera funcional</td>
                                    <td>
                                        {{ hic.hcDsmEdadMobjfunc }}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 385px;">Mantenerse sentado sin apoyo</td>
                                    <td>
                                        {{ hic.hcDsmEdadGatear }}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 385px;">Responder a la voz de los padres, calmarse al
                                        escucharlos
                                    </td>
                                    <td>
                                        {{ hic.hcDsmEdadSoaint }}

                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 385px;">Sostener el contacto visual y mantenerse atento al
                                        rostro del adulto
                                    </td>
                                    <td>
                                        {{ hic.hcDsmEdadPrimerasPalabras }}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 385px;">Dar sus primeros pasos</td>
                                    <td>
                                        {{ hic.hcDsmEdadCaminar }}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 385px;">Se&ntilde;alar objetos o situaciones para pedirlos o
                                        mostrarlos
                                    </td>
                                    <td>
                                        {{ hic.hcDsmEdadMasen }}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 385px;">Decir sus primeras palabras</td>
                                    <td>
                                        {{ hic.hcDsmEdadJugar }}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 385px;">Imitar acciones y expresiones del adulto</td>
                                    <td>
                                        {{ hic.hcDsmEdadResponder }}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            <br>
            <div role="tabpanel" class="tab-pane" id="estado_salud">
                <div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Situaci&oacute;n y estado actual de salud del ni&ntilde;o(a) , tratamientos que lleva
                                a cabo y las necesidades especiales que de ello se derivan</label>
                            <div class="form-group">
                                {{ hic.hcHesMedicamentos }}
                            </div>
                        </div>
                        <div class="col-md-11">
                            <p class="well">
                                Principales problemas de salud que ha padecido el ni&ntilde;o desde su nacimiento, edad
                                en que lo padeci&oacute; y los tratamientos implementados
                            </p>
                            <!--TODO falta esto por hacer-->
                            <table class="table">
                                {% if hic.EstadoSaludEnfermedades.enfermedad1 %}
                                    <tr>
                                        <td>{{ hic.EstadoSaludEnfermedades.enfermedad1 }}</td>
                                    </tr>
                                {% endif %}

                                {% if hic.EstadoSaludEnfermedades.enfermedad2 %}
                                    <tr>
                                        <td>{{ hic.EstadoSaludEnfermedades.enfermedad2 }}</td>
                                    </tr>
                                {% endif %}

                                {% if hic.EstadoSaludEnfermedades.enfermedad3 %}
                                    <tr>
                                        <td>{{ hic.EstadoSaludEnfermedades.enfermedad3 }}</td>
                                    </tr>
                                {% endif %}

                                {% if hic.EstadoSaludEnfermedades.enfermedad4 %}
                                    <tr>
                                        <td>{{ hic.EstadoSaludEnfermedades.enfermedad4 }}</td>
                                    </tr>
                                {% endif %}

                                {% if hic.EstadoSaludEnfermedades.enfermedad5 %}
                                    <tr>
                                        <td>{{ hic.EstadoSaludEnfermedades.enfermedad5 }}</td>
                                    </tr>
                                {% endif %}

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="antecedentes">
                <h4>Antecedentes Familiares</h4>
                <div>
                    <div class="">
                        <p class="text-justify well">
                            Padecimientos familiares
                        </p>
                        <div class="col-md-6">
                            <table class="table">
                                <tr>
                                    <td><p class="bold">Enfermedades o condiciones del desarrollo</p></td>
                                    <td>Mam&aacute;</td>
                                    <td>Pap&aacute;</td>
                                    <td>Hermano u otros</td>
                                </tr>
                                <tr>
                                    <td>Trastorno del espectro del autismo</td>
                                    <td>
                                        <div class="form-group">
                                            {% if hic.hcAfTeaMama %}
                                                Si
                                            {% else %}
                                                No
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            {% if hic.hcAfTeaPapa %}
                                                Si
                                            {% else %}
                                                No
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            {% if hic.hcAfTeaHermano %}
                                                Si
                                            {% else %}
                                                No
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Trastorno del lenguaje</td>
                                    <td>
                                        <div class="form-group">
                                            {% if hic.hcAfTdlMama %}
                                                Si
                                            {% else %}
                                                No
                                            {% endif %}

                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            {% if hic.hcAfTdlPapa %}
                                                Si
                                            {% else %}
                                                No
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            {% if hic.hcAfTdlHermano %}
                                                Si
                                            {% else %}
                                                No
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Discapacidad intelectual</td>
                                    <td>
                                        <div class="form-group">
                                            {% if hic.hcAfDintlMama %}
                                                Si
                                            {% else %}
                                                No
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            {% if hic.hcAfDintlPapa %}
                                                Si
                                            {% else %}
                                                No
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            {% if hic.hcAfDintlHermano %}
                                                Si
                                            {% else %}
                                                No
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Enfermedad psiqui&aacute;trica</td>
                                    <td>
                                        <div class="form-group">
                                            {% if hic.hcAfEnfpsqMama %}
                                                Si
                                            {% else %}
                                                No
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            {% if hic.hcAfEnfpsqPapa %}
                                                Si
                                            {% else %}
                                                No
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            {% if hic.hcAfEnfpsqHermano %}
                                                Si
                                            {% else %}
                                                No
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Trastorno de aprendizaje</td>
                                    <td>
                                        <div class="form-group">
                                            {% if hic.hcAfTaprendMama %}
                                                Si
                                            {% else %}
                                                No
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            {% if hic.hcAfTaprendPapa %}
                                                Si
                                            {% else %}
                                                No
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            {% if hic.hcAfTaprenHermano %}
                                                Si
                                            {% else %}
                                                No
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Trastorno por d&eacute;ficit de atenci&oacute;n</td>
                                    <td>
                                        <div class="form-group">
                                            {% if hic.hcAfTpddaMama %}
                                                Si
                                            {% else %}
                                                No
                                            {% endif %}

                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            {% if hic.hcAfTpddaPapa %}
                                                Si
                                            {% else %}
                                                No
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            {% if hic.hcAfTpddaHermano %}
                                                Si
                                            {% else %}
                                                No
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Trastorno de la conducta y el comportamiento</td>
                                    <td>
                                        <div class="form-group">
                                            {% if hic.hcAfTccMama %}
                                                Si
                                            {% else %}
                                                No
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            {% if hic.hcAfTccPapa %}
                                                Si
                                            {% else %}
                                                No
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            {% if hic.hcAfTccHermano %}
                                                Si
                                            {% else %}
                                                No
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <br>
                        <br>
                        <br>
                        <div class="col-md-6">
                            {% if hic.descripcionAntecedentesFamiliares %}
                                <p><b>Descipci&oacute;n</b></p>
                                {{ hic.descripcionAntecedentesFamiliares }}
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>
            <br>
            <div role="tabpanel" class="tab-pane" id="habitos">
                <h4>H&aacute;bito y autonom&iacute;a</h4>
                <div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="well text-justify">
                                Apoyo u orientaci&oacute;n en cuanto al
                                funcionamiento de los h&aacute;bitos en su hijo
                            </div>
                            <table class="table table-striped" id="habitos_tabla">
                                <tr>
                                    <td></td>
                                    <td style="width: 50px;">
                                        <p class="bold text-center" style="font-size:10px">Necesidades o
                                            problema</p>
                                    </td>
                                    <td><p class="bold">Descripci&oacute;n</p></td>
                                </tr>
                                {% if hic.hcHabAutSueno %}
                                    <tr>
                                        <td>H&aacute;bitos de Sue&ntilde;o</td>
                                        <td class="text-center">
                                            {% if  hic.hcHabAutSueno %}
                                                Si
                                            {% endif %}
                                        </td>
                                        <td>
                                            {{ hic.hcHabAutSuenoDescripcion }}
                                        </td>
                                    </tr>
                                {% endif %}

                                {% if hic.hcHabAutAlimenticio %}
                                    <tr>
                                        <td>H&aacute;bitos Alimenticios</td>
                                        <td class="text-center">
                                            {% if  hic.hcHabAutAlimenticio %}
                                                Si
                                            {% endif %}
                                        </td>
                                        <td>
                                            {{ hic.hcHabAutAlimenticioDesc }}
                                        </td>
                                    </tr>
                                {% endif %}

                                {% if hic.hcHabAutHigienicosDesc %}
                                    <tr>
                                        <td>H&aacute;bitos Higi&eacute;nicos</td>
                                        <td class="text-center">
                                            {% if  hic.hcHabAutHigienicos %}
                                                Si
                                            {% endif %}
                                        </td>
                                        <td>
                                            {{ hic.hcHabAutHigienicosDesc }}
                                        </td>
                                    </tr>
                                {% endif %}

                                {% if hic.hcHabAutEsfinteresDesc %}
                                    <tr>
                                        <td>H&aacute;bitos Inherentes al Control de Esf&iacute;nteres</td>
                                        <td class="text-center">
                                            {% if  hic.hcHabAutEsfinteres %}
                                                Si
                                            {% endif %}
                                        </td>
                                        <td>
                                            {{ hic.hcHabAutEsfinteresDesc }}
                                        </td>
                                    </tr>
                                {% endif %}

                                {% if hic.hcHabAutAutocuidadoDesc %}
                                    <tr>
                                        <td>H&aacute;bitos de Autocuidado</td>
                                        <td class="text-center">
                                            {% if  hic.hcHabAutAutocuidado %}
                                                Si
                                            {% endif %}

                                        </td>
                                        <td>
                                            {{ hic.hcHabAutAutocuidadoDesc }}
                                        </td>
                                    </tr>
                                {% endif %}

                                {% if hic.hcHabAutVestidoDesc %}
                                    <tr>
                                        <td>H&aacute;bitos de Vestido</td>
                                        <td class="text-center">
                                            {% if  hic.hcHabAutVestido %}
                                                Si
                                            {% endif %}
                                        </td>
                                        <td>
                                            {{ hic.hcHabAutVestidoDesc }}
                                        </td>
                                    </tr>
                                {% endif %}

                                {% if hic.hcHabAutJuegoRutinasDesc %}
                                    <tr>
                                        <td>H&aacute;bitos de Juego y Rutinas de Actividad</td>
                                        <td class="text-center">
                                            {% if hic.hcHabAutJuegoRutinas %}
                                                Si
                                            {% endif %}
                                        </td>
                                        <td>
                                            {{ hic.hcHabAutJuegoRutinasDesc }}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if hic.hcHabAutOtros %}
                                    <tr>
                                        <td>Otros H&aacute;bitos</td>
                                        <td class="text-center">
                                            {% if hic.hcHabAutOtros %}
                                                Si
                                            {% endif %}
                                        </td>
                                        <td>
                                            {{ hic.hcHabAutOtrosDesc }}
                                        </td>
                                    </tr>
                                {% endif %}

                            </table>

                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div>
                <h4>Historia e instituciones educativas</h4>
                <div>
                    <div class="row">
                        <div class="col-md-4">
                            <table class="table">
                                <tr>
                                    <td>
                                        <p class="bold">El ni&ntilde;o(a) </p>
                                    </td>
                                    <td><p class="bold">Si</p></td>
                                </tr>
                                <tr>
                                    <td>&iquest;Asiste a la escuela?</td>
                                    <td>
                                        {% if hic.hcAEasisteEscuela %}
                                            Si
                                        {% else %}
                                            No
                                        {% endif %}
                                    </td>

                                </tr>
                                <tr>
                                    <td>&iquest;Recibe o necesita alg&uacuten tipo de apoyo curricular en el colegio?
                                    </td>
                                    <td>
                                        {% if hic.hcAEapoyoCurricular %}
                                            Si
                                        {% else %}
                                            No
                                        {% endif %}
                                    </td>
                                </tr>
                                >
                                </tr>
                                <tr>
                                    <td>&iquest;Se encuentra desfasado con respecto a su edad?</td>
                                    <td>
                                        {% if hic.hcAEdesfasadoEdad %}
                                            Si
                                        {% else %}
                                            No
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>&iquest;Recibe apoyo psicopedag&oacute;gico o de USAER en su colegio?</td>
                                    <td>
                                        {% if hic.hcAEapoyoPsicopedagogico %}
                                            Si
                                        {% else %}
                                            No
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>&iquest;Asiste con maestra sombra o auxiliar educativa?</td>
                                    <td>
                                        {% if hic.hcAEmaestraSombra %}
                                            Si
                                        {% else %}
                                            No
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 410px;">&iquest;Participa de manera ordinaria en todas las
                                        actividades y materias escolares?
                                    </td>
                                    <td>
                                        {% if hic.hcAEparticipaManeraOrdinariaActividades %}
                                            Si
                                        {% else %}
                                            No
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>&iquest;Se integra de manera funcional a su grupo de compa&ntilde;eros
                                        escolares?
                                    </td>
                                    <td>
                                        {% if hic.hcAEingregraGrupo %}
                                            Si
                                        {% else %}
                                            No
                                        {% endif %}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-8">
                            <p class="bold text-justify">
                                Experiencias en los centros educativos a los que ha llevado al ni&ntilde;o(a)
                                ,caracter&iacute;sticas de la atenci&oacute;n que recibi&oacute;, los beneficios
                                obtenidos y las necesidades actuales que considera se deben tener en cuenta con
                                respecto a su proceso de inclusi&oacute;n educativa.
                            </p>
                            {{ hic.hcAEDescripcionExperiencias }}

                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-3">
                            <label>Grado escolar</label>
                            <div class="form-group">
                                {{ hic.paciente.gradoEscolar }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Nombre de la escuela</label>
                                {{ hic.paciente.nombreEscuela }}
                            </div>
                        </div>
                        {% if hic.paciente.telefonoEscuela %}
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Tel&eacute;fono de la escuela</label>
                                    {{ hic.paciente.telefonoEscuela }}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    {% if hic.hcDescripcionFinal %}
                        <div class="row">
                            <div class="col-md-12">
                                <p class="well">
                                    Otra informaci&oacute;n pertinente con respecto a los antecedentes de atenci&oacute;n
                                    de su hijo.
                                </p>
                                {{ hic.hcDescripcionFinal }}
                            </div>
                        </div>
                    {% endif %}

                </div>
            </div>
            {% endautoescape %}

        </div>
    </div>
</div>
</div>
<br>
<br>
<img src="{{ base_dir ~ asset('bundles/images/logo-red-png.png') }}" width="150px">
