{% extends '::base.html.twig' %}
{% block body %}
	<div class="row">
		<h2>Listado Historia Clinica</h2>
		<a href="{{ path('historiaclinica_instrucciones') }}" class="btn btn-success">Nueva</a>
		{{result}}
	</div>
{% endblock %}

