<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<link rel="stylesheet" href="{{ base_dir ~ asset('bundles/css/bootstrap_pdf.css') }}"></link>
<h3>Cantidad de resultados: {{ total }}</h3>
<table class="table">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Apellido Paterno</th>
        <th>Apellido Materno</th>
        <th>Edad</th>
        <th>Fecha Registro</th>
        <th>Procedencia</th>
    </tr>
    </thead>
    <tbody>
    {% for historiasClinica in historiasClinicas %}
        <tr>
            <td>{{ historiasClinica.paciente.nombre }}</td>
            <td>{{ historiasClinica.paciente.apellidoPaterno }}</td>
            <td>{{ historiasClinica.paciente.apellidoMaterno }}</td>
            <td>{{ historiasClinica.paciente.edad }}</td>
            <td>{% if historiasClinica.fechaCreacion %}{{ historiasClinica.fechaCreacion|date('Y-m-d') }}{% endif %}</td>

            <td>{{ historiasClinica.paciente.ciudad }}</td>

            {#<td>{{ historiasClinica.especialista }}</td>#}

        </tr>
    {% endfor %}
    </tbody>
</table>
<img src="{{ base_dir ~ asset('bundles/images/logo-red-png.png') }}" width="150px">
