{% extends 'base.html.twig' %}

{% block body %}
    <h1>Antecedentes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Desalud</th>
                <th>Educativos</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for antecedente in antecedentes %}
            <tr>
                <td><a href="{{ path('antecedentes_show', { 'id': antecedente.id }) }}">{{ antecedente.id }}</a></td>
                <td>{{ antecedente.deSalud }}</td>
                <td>{{ antecedente.educativos }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('antecedentes_show', { 'id': antecedente.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('antecedentes_edit', { 'id': antecedente.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('antecedentes_new') }}">Create a new antecedente</a>
        </li>
    </ul>
{% endblock %}
