{% extends 'base.html.twig' %}

{% block body %}
    <h1>Antecedente</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ antecedente.id }}</td>
            </tr>
            <tr>
                <th>Desalud</th>
                <td>{{ antecedente.deSalud }}</td>
            </tr>
            <tr>
                <th>Educativos</th>
                <td>{{ antecedente.educativos }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('antecedentes_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('antecedentes_edit', { 'id': antecedente.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
