{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nciudads list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for nCiudad in nCiudads %}
            <tr>
                <td><a href="{{ path('nciudad_show', { 'id': nCiudad.id }) }}">{{ nCiudad.id }}</a></td>
                <td>{{ nCiudad.nombre }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('nciudad_show', { 'id': nCiudad.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('nciudad_edit', { 'id': nCiudad.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('nciudad_new') }}">Create a new nCiudad</a>
        </li>
    </ul>
{% endblock %}
