{% extends 'base.html.twig' %}

{% block body %}
    <h1>Estadosaludenfermedades list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Enfermedad1</th>
                <th>Enfermedad2</th>
                <th>Enfermedad3</th>
                <th>Enfermedad4</th>
                <th>Enfermedad5</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for estadoSaludEnfermedade in estadoSaludEnfermedades %}
            <tr>
                <td><a href="{{ path('estadosaludenfermedades_show', { 'id': estadoSaludEnfermedade.id }) }}">{{ estadoSaludEnfermedade.id }}</a></td>
                <td>{{ estadoSaludEnfermedade.enfermedad1 }}</td>
                <td>{{ estadoSaludEnfermedade.enfermedad2 }}</td>
                <td>{{ estadoSaludEnfermedade.enfermedad3 }}</td>
                <td>{{ estadoSaludEnfermedade.enfermedad4 }}</td>
                <td>{{ estadoSaludEnfermedade.enfermedad5 }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('estadosaludenfermedades_show', { 'id': estadoSaludEnfermedade.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('estadosaludenfermedades_edit', { 'id': estadoSaludEnfermedade.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('estadosaludenfermedades_new') }}">Create a new estadoSaludEnfermedade</a>
        </li>
    </ul>
{% endblock %}
