{% extends 'base.html.twig' %}

{% block body %}
    <h1>Estadosaludenfermedade</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ estadoSaludEnfermedade.id }}</td>
            </tr>
            <tr>
                <th>Enfermedad1</th>
                <td>{{ estadoSaludEnfermedade.enfermedad1 }}</td>
            </tr>
            <tr>
                <th>Enfermedad2</th>
                <td>{{ estadoSaludEnfermedade.enfermedad2 }}</td>
            </tr>
            <tr>
                <th>Enfermedad3</th>
                <td>{{ estadoSaludEnfermedade.enfermedad3 }}</td>
            </tr>
            <tr>
                <th>Enfermedad4</th>
                <td>{{ estadoSaludEnfermedade.enfermedad4 }}</td>
            </tr>
            <tr>
                <th>Enfermedad5</th>
                <td>{{ estadoSaludEnfermedade.enfermedad5 }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('estadosaludenfermedades_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('estadosaludenfermedades_edit', { 'id': estadoSaludEnfermedade.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
