{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Role</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Identificador</th>
                <td>{{ entity.identificador }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
        </tbody>
    </table>

        <div class="btn-group">
    <a class="btn btn-warning" href="{{ path('admin_role') }}">
        <span class="glyphicon glyphicon-list"></span>Listado
    </a>

    
        <a  class="btn btn-warning" href="{{ path('admin_role_edit', { 'id': entity.id }) }}">
            <span class="glyphicon glyphicon-edit"></span>Editar
        </a>

    </div>
    <li class="pull-right">{{ form(delete_form) }}</li>
    <div class="clearfix"></div>

{% endblock %}
